<template>
    <div class="content col-lg-10 col-md-12">
        <div class="header text-left mt-4">
            <h3>Daftar Penerima </h3>
        </div>
              
        <div class="float-right my-3 row" style="margin-right:0px">
            <custom-filterbar class="col" @filter="onFilterSet" ref="filterData"></custom-filterbar>
              <select class="btn" v-model="selectedMode" @change="onClickMode()">
                <option disabled value="" class="form-group">Pilih Mode Penerima</option>
                <option v-for="data in listMode" :value="data" :key="data">{{data}}</option>             
              </select>                                            
        </div>        
        <vuetable
            style="margin-top:30px;"
            ref="vuetable"
            :api-mode="false"
            :fields="row"            
            :data-manager="dataManager"
            pagination-path="pagination"
            @vuetable:pagination-data="onPaginationData"
        >         
          <div slot="Aksi" slot-scope="props">            
              <font-awesome-icon icon="search" class="text-info mr-2" @click="onClickView(props.rowData)" style="cursor:pointer" v-if="selectedMode=='Perusahaan'" />
              <font-awesome-icon icon="pencil-alt" class="text-success mr-2" @click="onEditData(props.rowData)" style="cursor:pointer"/>
              <font-awesome-icon icon="trash-alt" class="text-danger mr-2" @click="deleteData(props.rowData)" v-if="$store.state.user.role<3" style="cursor:pointer"/>            
          </div>     
        </vuetable>

        <div style="padding-top:20px" class="row">                        
            <div class="col">
            <vuetable-pagination
                ref="pagination"
                :css="csspagination"
                @vuetable-pagination:change-page="onChangePage"
            ></vuetable-pagination>
            </div>
        </div>                          
        <span ref="recipient">
          <recipient-table :companyName="selectedCompany.nama" :recipientList="selectedCompany.penerima"  v-if="selectedCompany!=null"/>
        </span>
  </div>
</template>

<script>
import Vuetable from "vuetable-2";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import _ from "lodash";
import CompanyFieldsDef from "../../fields/CompanyFieldsDef.js";
import RecipientFieldsDef from "../../fields/RecipientFieldsDef.js";
import { apiServices } from '../../api/apiService.js';
import RecipientTable from '../tables/RecipientTable.vue';
import customFilterbar from '../customFilterbar.vue';

export default {
  name: "companyTable",
  components: {
    Vuetable,
    VuetablePagination,
    RecipientTable,
    customFilterbar
  },
  data() {
    return {
      csspagination: {
        infoClass: "pull-left",
        wrapperClass: "vuetable-pagination float-right",
        activeClass: "btn-primary",
        disabledClass: "disabled",
        pageClass: "btn btn-border",
        linkClass: "btn btn-border",
        icons: {
          first: "",
          prev: "",
          next: "",
          last: "",
        },
      },
      row: CompanyFieldsDef,        //menentukan table header
      perPage: 5,                   //mengatur jumlah data yang muncul setiap table nya
      data:[],                      //data company secara keseluruhan
      filteredData:[],              //data yang muncul
      selectedCompany:null,         //data perusahaan yang terpilih untuk mengatur data penerima
      listMode:["Perorangan","Perusahaan"],
      selectedMode:"",
      listCompany:[],               //data list perusahaan
      listRecipientWithoutCompany:[]//data list user yang tidak memiliki perusahaan (pribadi)
    };
  },
  watch: {    
    filteredData() {
      // refresh table
      this.$refs.vuetable.refresh();
    },
    selectedCompany(newVal){      
      if(newVal!=null){
        this.$refs.recipient.scrollIntoView();
      }
    }    
  },
  mounted() {
      // get data
      apiServices.getCompanyRecipient().then((response)=>{
        this.listCompany=response.data;        
      })
      apiServices.getAllRecipientWithoutCompany().then((response)=>{
        this.listRecipientWithoutCompany=response.data;
      })
  },
  methods: {    
    onClickMode(){
      // perpindahan dari dokumen perorangan ke perusahaan atau sebaliknya
      if(this.selectedMode=='Perorangan'){
        this.data=this.listRecipientWithoutCompany;
        this.row=RecipientFieldsDef;
      }else{
        this.data=this.listCompany;
        this.row=CompanyFieldsDef;
      }
      this.filteredData=this.data;
    },
    onClickView(data){
      // update ui untuk list penerima
      this.selectedCompany=data;
    },
    onEditData(data){
      if(this.selectedMode=='Perusahaan')
        this.$router.push({'name':'edit-company',params:{'id':data.kode_perusahaan}});
      else this.$router.push({'name':'edit-recipient',params:{'id':data.id_penerima}});
    },
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
    dataManager(sortOrder, pagination) {      
      if (this.filteredData.length < 1) return this.filteredData;

      let local = this.filteredData;

      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        );
      }
      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      );
      let from = pagination.from - 1;
      let to = from + parseInt(this.perPage);

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      };
    },
    onFilterSet(filterText) {
      // filter on click
      const txt = new RegExp(filterText.toLowerCase());
      // filter data ke semua data tabel
      this.filteredData = this.data.filter(function(item) {
        return (item.nama&&item.nama.toLowerCase().search(txt) >= 0)|| 
               (item.kode_perusahaan&&item.kode_perusahaan.toLowerCase().search(txt)>=0) ||
               (item.alamat&&item.alamat.toLowerCase().search(txt)>=0) ||
               (item.no_telp&&item.no_telp.toLowerCase().search(txt)>=0)
      });
      // refresh setiap click
      this.$nextTick(() => this.$refs.vuetable.refresh());
    },
    deleteData(data2){
      this.$swal.fire({
            title:"Delete Data",
            text:`Apakah Anda Yakin ingin menghapus data ${data2.nama} ?`,
            icon:'question',
            showCancelButton: true,
            confirmButtonText: 'Iya',
            cancelButtonText:'Tidak'
        }).then((result) => {            
            if (result.isConfirmed) {
              this.$isLoading(true);
              if(this.selectedMode=='Perorangan'){
                apiServices.deleteRecipient(data2.id_penerima).then((response)=>{
                  this.$isLoading(false);
                    if(response.status==200){
                      let index=this.data.findIndex(data=>data.id_penerima==data2.id_penerima);
                      this.data.splice(index,1);
                      this.$swal.fire('Deleted!', `Data Penerima ${data2.nama} berhasil dihapus`, 'success');                      
                    }
                  }).catch(()=>{
                    this.$isLoading(false);
                    this.$swal.fire('Data Gagal Dihapus!', '', 'error');
                  })
              }else{                
                apiServices.deleteCompany(data2.kode_perusahaan).then((response)=>{
                    this.$isLoading(false);
                    if(response.status==200){
                      let index=this.data.findIndex(data=>data.kode_perusahaan==data2.kode_perusahaan);
                      this.data.splice(index,1);
                      this.$swal.fire('Deleted!', `Data Perusahaan ${data2.nama} berhasil dihapus`, 'success');
                      this.selectedCompany=null;
                    }
                  }).catch(()=>{
                    this.$isLoading(false);
                    this.$swal.fire('Data Gagal Dihapus!', '', 'error');
                  })
              }
            }
        })
    },
  }
};
</script>

<style scoped>

.content{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;    
}
.btn{
    border:2px solid #777;
}

</style>
