<template>
    <div class="content col-lg-10 col-md-12">
        <div class="header text-left mt-4">
            <h3>Daftar Dokumen</h3>
        </div>                
          <div class="pengirim float-right my-3 row" style="margin-right:0px">
            <custom-filterbar class="col" @filter="onFilterSet" ref="filterData"></custom-filterbar>
              <select class="btn" v-model="selectedPengirim" @change="onClickPengirim()">
                <option disabled value="" class="form-group">Pilih PT Pengirim</option>
                <option v-for="data in listPengirim" :value="data.kode_pengirim" :key="data.kode_pengirim">PT. {{data.kode_pengirim}}</option>             
              </select>                                            
        </div>
              
        <vuetable
            style="margin-top:30px;"
            ref="vuetable"
            :api-mode="false"
            :fields="row"            
            :data-manager="dataManager"
            pagination-path="pagination"
            @vuetable:pagination-data="onPaginationData"
            
        >
          <div slot="Aksi" slot-scope="props">                                       
            <font-awesome-icon icon="tools" class="text-success mr-1" @click="revisiData(props.rowData)" style="cursor:pointer"/>
            <font-awesome-icon icon="trash-alt" class="text-danger ml-1" @click="deleteData(props.rowData)" v-if="$store.state.user.role<3" style="cursor:pointer"/>
          </div>
        </vuetable>

        <div style="padding-top:20px" class="row">                        
            <div class="col">
            <vuetable-pagination
                ref="pagination"
                :css="csspagination"
                @vuetable-pagination:change-page="onChangePage"
            ></vuetable-pagination>
            </div>
        </div>                  
  </div>
</template>

<script>
import Vuetable from "vuetable-2";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import _ from "lodash";
import DokumenFieldsDef from "../../fields/DokumenFieldsDef.js";
import { apiServices } from '../../api/apiService.js';
import customFilterbar from '../customFilterbar.vue';


export default {
  name: "dokumenTable",
  components: {
    Vuetable,
    VuetablePagination,
    customFilterbar
  },
  data() {
    return {      
      csspagination: {
        infoClass: "pull-left",
        wrapperClass: "vuetable-pagination float-right",
        activeClass: "btn-primary",
        disabledClass: "disabled",
        pageClass: "btn btn-border",
        linkClass: "btn btn-border",
        icons: {
          first: "",
          prev: "",
          next: "",
          last: "",
        },
      },
      row: DokumenFieldsDef,                //definisi table header
      perPage: 5,
      data:[],                              //data keseluruhan dokumen dari pt yang terpilih di selected pengirim
      selectedPengirim:"",       
      listPengirim:[],
      filteredData:[],                      //data yang muncul di tabel
      loadedData:[],                        //data yang sudah direquest disimpan berdasarkan nama perusahaan
      setFilterEmpty:false
    };
  },
  watch: {    
    filteredData() {
      this.$refs.vuetable.refresh();
    }
  },
  mounted() {         
    this.setDataFromApi();
  },
  methods: {
    setDataFromApi(){
      apiServices.getAllPengirim().then((response)=>{
          this.listPengirim=response.data;        
        })      
    },
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
    dataManager(sortOrder, pagination) {
      if (this.filteredData.length < 1) return this.filteredData;

      let local = this.filteredData;

      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        );
      }
      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      );
      let from = pagination.from - 1;
      let to = from + parseInt(this.perPage);

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      };
    },
    onFilterSet(filterText) {
      // filter data di semua column dokumen yang muncul di tabel header
      const txt = new RegExp(filterText.toLowerCase());      
      this.filteredData = this.data.filter(function(item) {
        return (item.subject&&item.subject.toLowerCase().search(txt) >= 0)|| 
               (item.kode_project&&item.kode_project.toLowerCase().search(txt)>=0) ||
               (item.no_surat&&item.no_surat.toLowerCase().search(txt)>=0) ||
               (item.kode_surat&&item.kode_surat.toLowerCase().search(txt)>=0) ||
               (item.tujuan&&item.tujuan.toLowerCase().search(txt)>=0) ||
               (item.penerima&&item.penerima.toLowerCase().search(txt)>=0) ||
               (item.person_in_charge&&item.person_in_charge.toLowerCase().search(txt)>=0) ||
               (item.tanggal&&item.tanggal.toLowerCase().search(txt)>=0)||
               (item.alias&&item.alias.toLowerCase().search(txt)>=0);
      });
      // refresh table setiap kali klik aktif
      this.$nextTick(() => this.$refs.vuetable.refresh());
    },
    onClickPengirim(){
        this.$refs.filterData.$data.filterText="";      //kosongkan filtertext
        let selectedData = this.loadedData.find(data=>data.pengirim==this.selectedPengirim);        
        if(selectedData){
          // data sudah pernah diload, ambil dari laodedData
          this.data=selectedData.data;
          this.filteredData=this.data;
        }else{                  
          // data belum pernah di load, request api
          apiServices.getAllFilterBySender(this.selectedPengirim).then((response)=>{
            this.data=response.data;
            this.loadedData.push({
              'pengirim':this.selectedPengirim,
              'data':this.data
            })
            this.filteredData=this.data;            
          }).catch(()=>{
            this.loadedData.push({
              'pengirim':this.selectedPengirim,
              'data':[]
            })            
            this.filteredData=[];
            this.data=[];
          })
        }
    },
    deleteData(dokumen){
      this.$swal.fire({
            title:"Delete Data",
            html:`Apakah Anda Yakin ingin menghapus data <br> <b>${dokumen.no_surat}</b> ?`,
            icon:'question',
            showCancelButton: true,
            confirmButtonText: 'Iya',
            cancelButtonText:'Tidak'
        }).then((result) => {                      
            if (result.isConfirmed) {
              this.$isLoading(true);
              apiServices.deleteDocumentNumber(dokumen.id).then((response)=>{
                  this.$isLoading(false);
                  if(response.status==200){
                    let index=this.data.findIndex(data=>data.id==dokumen.id);
                    this.data.splice(index,1);
                    this.$swal.fire('Deleted!', '', 'success');
                  }
                }).catch(()=>{
                  this.$isLoading(false);
                  this.$swal.fire('Data Gagal Dihapus!', '', 'error');
                })
            }
        })
    },
    revisiData(document){
      // fungsi untuk revisi data
      this.$isLoading(true);
      apiServices.createDocumentRevision(document.id,{"code_note":"Revision","person_in_charge":this.$store.state.user.code_name}).then((response)=>{
        this.$isLoading(false);
        if(response.status==200){
            this.$swal.fire({
                title:response.data.message,
                html:`Kode Surat : <b>${response.data.letter_number}</b>`,
                icon:'success'
            })
            // get data dokumen filter by sender (karena ada perubahan baru)
            apiServices.getAllFilterBySender(this.selectedPengirim).then((response)=>{
              this.data=response.data;              
              let selectedDataIndex = this.loadedData.findIndex(data=>data.pengirim==this.selectedPengirim);                      
              this.loadedData[selectedDataIndex].data=this.data;              
              this.filteredData=this.data;              
            })
        }        
      }).catch((error)=>{
        this.$isLoading(false);      
            if(error.response){                
                this.$swal.fire({
                    title:error.response.data.error,
                    icon:'error'
                });
            }else{                
                this.$swal.fire({
                    title:"Koneksi Error",
                    icon:'error'
                });
            }
        })        
    }
  }
};
</script>

<style scoped>

.content{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;    
}
.btn{
    border:2px solid #777;
}
custom-filterbar{
  position: absolute;
}

</style>
