<template>
    <div class="content col-lg-12 col-md-12">
        <div class="header text-left mt-4">
            <h3>Daftar Penerima dari {{companyName}}</h3>
        </div>

        <span class="float-right my-3" style="margin-right:-15px;">
          <custom-filterbar @filter="onFilterSet"></custom-filterbar>
        </span>

        <vuetable
            style="margin-top:30px;"
            ref="vuetable"
            :api-mode="false"
            :fields="row"            
            :data-manager="dataManager"
            pagination-path="pagination"
            @vuetable:pagination-data="onPaginationData"
        >
          <div slot="Aksi" slot-scope="props">
                <font-awesome-icon icon="pencil-alt" class="text-success mr-2" @click="onEditData(props.rowData)" style="cursor:pointer"/>            
                <font-awesome-icon icon="trash-alt" class="text-danger" @click="deleteData(props.rowData)" v-if="$store.state.user.role<3" style="cursor:pointer"/>
          </div>
        </vuetable>

        <div style="padding-top:20px" class="row">                        
            <div class="col">
            <vuetable-pagination
                ref="pagination"
                :css="csspagination"
                @vuetable-pagination:change-page="onChangePage"
            ></vuetable-pagination>
            </div>
        </div>                  
  </div>
</template>

<script>
import Vuetable from "vuetable-2";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import _ from "lodash";
import RecipientFieldsDef from "../../fields/RecipientFieldsDef.js";
import { apiServices } from '../../api/apiService.js';
import customFilterbar from '../customFilterbar.vue';

export default {
  name: "recipientTable",
  props:["recipientList","companyName"],
  components: {
    Vuetable,
    VuetablePagination,
    customFilterbar
  },
  data() {
    return {      
      csspagination: {
        infoClass: "pull-left",
        wrapperClass: "vuetable-pagination float-right",
        activeClass: "btn-primary",
        disabledClass: "disabled",
        pageClass: "btn btn-border",
        linkClass: "btn btn-border",
        icons: {
          first: "",
          prev: "",
          next: "",
          last: "",
        },
      },
      row: RecipientFieldsDef,      //menentukan table header      
      perPage: 5,                   //mengatur jumlah data yang muncul setiap table nya
      data:[],                      //data company secara keseluruhan
      filteredData:[],              //data yang muncul         
    };
  },  
  watch:{
    recipientList:function(newVal){      
      this.data=newVal;
      this.filteredData=newVal;
    },
    filteredData() {
      this.$refs.vuetable.refresh();
    }
  },
  mounted() {    
    this.data=this.recipientList;
    this.filteredData=this.data;
  },
  methods: {  
    onEditData(data){
      this.$router.push({'name':'edit-recipient',params:{'id':data.id_penerima}});
    },
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
    dataManager(sortOrder, pagination) {
      if (this.filteredData.length < 1) return this.filteredData;

      let local = this.filteredData;

      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        );
      }
      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      );
      let from = pagination.from - 1;
      let to = from + parseInt(this.perPage);

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      };
    },
    onFilterSet(filterText) {
      const txt = new RegExp(filterText.toLowerCase());      
      this.filteredData = this.data.filter(function(item) {
        return (item.nama&&item.nama.toLowerCase().search(txt) >= 0)|| 
               (item.jabatan&&item.jabatan.toLowerCase().search(txt)>=0) ||
               (item.email&&item.email.toLowerCase().search(txt)>=0) ||
               (item.no_telp&&item.no_telp.toLowerCase().search(txt)>=0)
      });
      this.$nextTick(() => this.$refs.vuetable.refresh());
    },
    deleteData(penerima){
      this.$swal.fire({
            title:"Delete Data",
            text:`Apakah Anda Yakin ingin menghapus data ${penerima.nama} ?`,
            icon:'question',
            showCancelButton: true,
            confirmButtonText: 'Iya',
            cancelButtonText:'Tidak'
        }).then((result) => {            
            if (result.isConfirmed) {
              this.$isLoading(true);
              apiServices.deleteRecipient(penerima.id_penerima).then((response)=>{
                this.$isLoading(false);
                  if(response.status==200){
                    let index=this.data.findIndex(data=>data.id_penerima==penerima.id_penerima);
                    this.data.splice(index,1);
                    this.$swal.fire('Deleted!', 'Data {penerima.nama} berhasil dihapus', 'success');
                  }
                }).catch(()=>{
                  this.$isLoading(false);
                  this.$swal.fire('Data Gagal Dihapus!', '', 'error');
                })
            }
        })
    },
  }
};
</script>

<style scoped>

.content{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;    
    border:3px solid #aaa;
    border-radius: 20px;
    margin-bottom: 80px;
}
.btn{
    border:2px solid #777;
}

</style>
