<template>
    <div class="content col-lg-10 col-md-12">
        <div class="header text-left mt-4">
            <h3>Daftar Pengguna</h3>
        </div>
        <div class="pengirim float-right my-3 row" :style="$store.state.user.role==3?'margin-right:-30px':'padding-right:15px'">
            <custom-filterbar class="col" @filter="onFilterSet" ref="filterData"></custom-filterbar>
            <router-link to="/user/create" v-if="$store.state.user.role<3">
              <button class="btn btn-primary">Buat Pengguna</button>
          </router-link>
        </div>                  

        <vuetable
            style="margin-top:30px;"
            ref="vuetable"
            :api-mode="false"
            :fields="fields"            
            :data-manager="dataManager"
            pagination-path="pagination"
            @vuetable:pagination-data="onPaginationData"
        >                 
        <div slot="Aksi" slot-scope="props">                
                <font-awesome-icon icon="pencil-alt" class="text-success mr-2" @click="editData(props.rowData)" v-if="$store.state.user.role<props.rowData.role || $store.state.user.role==1|| props.rowData.username==$store.state.user.name" style="cursor:pointer"/>            
                <font-awesome-icon icon="trash-alt" class="text-danger" @click="deleteData(props.rowData.username)" v-if="props.rowData.username!=$store.state.user.name && $store.state.user.role<props.rowData.role" style="cursor:pointer"/>
        </div>                            
        </vuetable>

        <div style="padding-top:20px" class="row">                        
            <div class="col">
            <vuetable-pagination
                ref="pagination"
                :css="csspagination"
                @vuetable-pagination:change-page="onChangePage"
            ></vuetable-pagination>
            </div>
        </div>                                  
  </div>
</template>

<script>
import Vuetable from "vuetable-2";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import _ from "lodash";
import UserFieldsDef from "../../fields/UserFieldsDef.js";
import { apiServices } from '../../api/apiService.js';
import customFilterbar from '../customFilterbar.vue';

export default {
  name: "userTable",
  components: {
    Vuetable,
    VuetablePagination,
    customFilterbar
  },
  data() {
    return {      
      csspagination: {
        infoClass: "pull-left",
        wrapperClass: "vuetable-pagination float-right",
        activeClass: "btn-primary",
        disabledClass: "disabled",
        pageClass: "btn btn-border",
        linkClass: "btn btn-border",
        icons: {
          first: "",
          prev: "",
          next: "",
          last: "",
        },
      },
      fields: UserFieldsDef,
      perPage: 5,                 //jumlah data yang tampil di tabel
      data:[],                    //seluruh data user
      filteredData:[]             //data user hasil filter
    };
  },
  watch: {
    // listen to variabel
    filteredData() {
      this.$refs.vuetable.refresh();
    },        
  },
  mounted() {        
      apiServices.getAllUser().then((response)=>{        
        if(this.$store.state.user.role==1)
          this.data=response.data;
        else{
          response.data.forEach(data=>{          
            if(data.role>1)
              this.data.push(data);            
          })
        }
        this.filteredData=this.data;
      });
  },
  methods: {
    editData(data){
      this.$router.push({'name':'editUser',params:{'id':data.username}});
    },
    deleteData(username){
      this.$swal.fire({
            title:"Delete Data",
            text:`Apakah Anda Yakin ingin menghapus data user ${username} ?`,
            icon:'question',
            showCancelButton: true,
            confirmButtonText: 'Iya',
            cancelButtonText:'Tidak'
        }).then((result) => {            
            if (result.isConfirmed) {
              this.$isLoading(true);
                apiServices.deleteUser(username).then((response)=>{
                  if(response.status==200){
                    this.$isLoading(false);
                    let index=this.data.findIndex(data=>data.username==username);
                    this.data.splice(index,1);
                    this.$swal.fire('Deleted!', '', 'success');
                  }
                }).catch(()=>{
                  this.$isLoading(false);
                  this.$swal.fire('Data Gagal Dihapus!', '', 'error');
                })
            }
        })
    },
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
    dataManager(sortOrder, pagination) {
      if (this.filteredData.length < 1) return this.filteredData;

      let local = this.filteredData;

      if (sortOrder.length > 0) {
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        );
      }
      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      );
      let from = pagination.from - 1;
      let to = from + parseInt(this.perPage);

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      };
    },
    onFilterSet(filterText) {
      const txt = new RegExp(filterText.toLowerCase());      
      this.filteredData = this.data.filter(function(item) {
        return (item.name&&item.name.toLowerCase().search(txt) >= 0)|| 
               (item.username&&item.username.toLowerCase().search(txt)>=0) ||
               (item.code_name&&item.code_name.toLowerCase().search(txt)>=0)               
      });

      this.$nextTick(() => this.$refs.vuetable.refresh());
    },
  }
};
</script>

<style scoped>

.content{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;    
}
.btn{
    border:2px solid #777;
}

</style>
