<template>
    <div class="justify-content-md-center align-content-center" style="border:2px solid #bbb;border-radius:10px;background-color:#eeefff;" :style="$route.params.id?';margin-top:100px;':''" :class="$route.params.id?'col-lg-8 mx-auto':''"> 
        <!-- <div v-if="!$route.params.id" class="pb-4"> -->
            <div class="header text-left" :class="!$route.params.id?'mt-3':'mt-5 ml-4'">
            <h5 v-if="!$route.params.id">Data Perusahan </h5>
            <h3 v-else>Edit Data Perusahaan</h3>
        </div>            
            <hr :class="$route.params.id?'ml-4 mr-4':''" :style="$route.params.id?'background-color:black':''"/>
            <form class="text-left pb-2" :class="$route.params.id?'mt-5 ml-4':''" @submit.prevent="saveOrUpdate">       
                <div class="form-group my-2" :class="$route.params.id?'row':''">
                    <label for="companyName" :class="$route.params.id?'col col-3':''"><h6>Nama Perusahaan <span class="text-danger">*</span></h6></label>
                    <input type="text" class="form-control" :class="$route.params.id?'col mr-5 pr-3':'text-center'" placeholder="Nama Perusahaan" v-model="company.nama">
                </div>
                <div class="row">
                    <div v-if="$route.params.id" class="col-3"></div>
                    <span class="col" :class="$route.params.id?'mr-5 pr-3':''">
                        <span class="text-danger error-msg text-center">{{errorCode.company.nama}}</span>
                    </span>
                </div>

                <div class="form-group mt-4 row">
                    <label for="company-code" class="pt-2 col-md-12"  :class="$route.params.id?'col-lg-3':'col-lg-4'"><h6>Kode Perusahaan <span class="text-danger">*</span></h6></label>
                    <label for="company-code" class="pt-2" v-if="!isCompanyCodeError">:   </label>
                    <label for="company-code" class="pt-2 pl-1" v-show="!isCompanyCodeError"> <h6> {{company.kode_perusahaan||'Kode Perusahaan'}}</h6></label>
                    <span class="col" :class="$route.params.id?'mr-4 pr-4 pl-0':'mr-3 pr-0'">
                        <input id="companyCode" type="text" class="form-control text-center" placeholder="Nama Perusahaan" v-show="isCompanyCodeError" v-model="company.kode_perusahaan">                
                    </span>
                </div>
                                

                <div class="addSection text-primary mt-3" :class="$route.params.id?'mr-5':'mr-3'" @click="isShowTelponArea=!isShowTelponArea;company.no_telp=''">
                    <font-awesome-icon icon="plus-circle" class="add-icon"/>
                    <p style="font-size:12px" class="mx-2 mb-0">Tambah Detail Info</p>
                </div>
                <span v-if="isShowTelponArea">
                    <div class="form-group my-2" :class="$route.params.id?'row':''">
                        <label for="companyName" :class="$route.params.id?'col col-3':''"><h6>Alamat Perusahaan</h6></label>
                        <textarea class="form-control" :class="$route.params.id?' col mr-5 pr-3':'col'" id="company-address" rows="3" placeholder="Alamat Perusahaan" v-model="company.alamat"></textarea>                    
                    </div>
                    <div class="row">
                        <div v-if="$route.params.id" class="col-3"></div>
                        <span class="col" :class="$route.params.id?'mr-5 pr-3':''">
                            <span class="text-danger error-msg text-center">{{errorCode.company.alamat}}</span>
                        </span>
                    </div>

                    <div class="form-group my-2 row mx-2">
                        <label for="company-telp" class="pt-2 col-md-12"  :class="$route.params.id?'col-lg-3':'col pl-0'"><h6>No Telepon</h6></label>                        
                        <input type="text" class="form-control" :class="$route.params.id?'col mr-5 pr-3':'text-center'" placeholder="No. Telepon" v-model="company.no_telp">                        
                    </div>
                    <div class="row">
                        <div v-if="$route.params.id" class="col-3"></div>
                        <span class="col" :class="$route.params.id?'mr-5 pr-3':''">
                            <span class="text-danger error-msg text-center">{{errorCode.company.no_telp}}</span>
                        </span>
                    </div>
                </span>            
                <hr v-if="!$route.params.id" class="mt-5">
                <recipient-form :fromCompanyForm="true" ref="recipient" :isError="isError" v-if="!$route.params.id"></recipient-form>
                <div class="text-right" :class="$route.params.id?'my-5 mr-4 pr-2':'my-4'">
                    <button class="btn btn-secondary mr-2" @click="cancel()">Batal</button>
                    <button class="btn btn-primary ml-2">Simpan Data</button>
                </div>            
            </form>        
    </div>
</template>

<script>
import { apiServices } from '../../api/apiService';
import RecipientForm from './RecipientForm.vue';

export default {
  name:"companyForm",  
  components: { RecipientForm },    
  watch:{
    //watch company name data, auto generate company kode perusahaan
    'company.nama'(newValue){        
        this.company.kode_perusahaan=
            (newValue!="")?
                newValue.split(' ').map((array)=>{return (array)?array[0].toUpperCase():""}).join('')
                :"";
        if(newValue.length>50){
            this.errorCode.company.nama="Nama Perusahaan Tidak Boleh Lebih dari 50 karakter ";
        }else if(newValue.length==0){
            this.errorCode.company.nama="Nama Perusahaan Harus Diisi";
        }else{
            this.errorCode.company.nama=null;
        }
    },
    'company.alamat'(value){
        if(value.length>130){
            this.errorCode.company.alamat="Alamat Perusahaan Tidak Boleh Lebih dari 130 karakter ";
        // }else if(value.length==0){
        //     this.errorCode.company.alamat="Alamat Perusahaan Harus Diisi";
        }else{
            this.errorCode.company.alamat=null;
        }
    },
    'company.no_telp'(value){
        // regex number only
        if(value.length>0){
            let check=/^(\+?)[0-9]*$/.test(value)
            if(!check){
                this.errorCode.company.no_telp="Format No Telepon Salah";
                return;
            }
        }
        if(value.length>20){
            this.errorCode.company.no_telp="No Telpon Penerima Tidak Boleh Lebih dari 20 digit ";
        }else{
            this.errorCode.company.no_telp=null;
        }
    },
  },
  data() {
    return {
        company:{
            nama:"",
            alamat:"",
            kode_perusahaan:"",
            no_telp:""
        },
        errorCode:{
            company:{
                nama:null,
                alamat:null,
                no_telp:null
            }
        },
        recipient:null,                         //digunakan untuk menampung data recipient hasil dari proses create recipient
        isCompanyCodeError:false,               //penanda jika kode perusahaan telah digunakan
        isError:false,                          //penanda dari parent component untuk menampilkan error
        isShowTelponArea:false
    };
  },  
  mounted(){
      // ada id tambahan di url, dipastikan edit data
      if(this.$route.params.id){
          apiServices.getCompany(this.$route.params.id).then((response)=>{
              this.company=response.data;
              if(this.company.no_telp==null)            //jika null ganti ke "" agar error tidak muncul
                this.company.no_telp="";
          })
      }
  },
  methods: {
    validateForm(){
        // munculkan popup
        this.$swal.fire({                  
            icon: 'error',
            title: 'Data Harap Diisi Sesuai Aturan',
        });
    },    
    cancel(){
        if(!this.$route.params.id){
            this.company.name="";
            this.company.alamat="";
            this.company.kode_perusahaan="";
            // kirim tanda ke parent (Home Component) untuk menutup child component (komponen ini)
            this.$emit('onChildCancel');
        }else{
            this.$router.push({'name':'companyData'});
        }

    },    
    saveOrUpdate(){
        // get data recipient dari child component        
        // show error code        
        if(this.company.nama==""){
            this.errorCode.company.nama="Nama Perusahaan Harus Diisi";
        }        
        // if(this.company.alamat==""){            
        //     this.errorCode.company.alamat="Alamat Perusahaan Harus Diisi";
        // }                
        // if(this.company.alamat==""||this.company.nama==""||this.company.nama.length>50||this.company.alamat.length>130){
        if(this.company.nama==""||this.company.nama.length>50){
            this.isError=true;
            this.validateForm();
            return;
        }          
        if(!this.$route.params.id){        
            this.recipient = this.$refs.recipient.$data.recipient;
            if(this.recipient.nama==""||this.recipient==null){
                this.isError=true;
                this.validateForm();
                return;

            }
        }        
        if(this.errorCode.company.no_telp=="Format No Telp Salah"||this.errorCode.company.no_telp=="No Telpon Tidak Boleh Lebih dari 20 karakter "){
            this.validateError();
            return;
        }
        this.$isLoading(true);
        this.company.kode_perusahaan=this.company.kode_perusahaan.toUpperCase();        
        if(!this.$route.params.id){
            this.recipient.kode_perusahaan = this.company.kode_perusahaan;        
            apiServices.createCompany(this.company).then((response)=>{            
                apiServices.createRecipient(this.recipient).then((response2)=>{                
                    this.$isLoading(false);
                    if(response.status==200){
                    this.$swal.fire({
                        title:response.data.message,
                        icon:'success'
                    })                
                    // send data local ke parent komponen
                    this.$emit('onChildSave',{
                            nama:this.company.nama,
                            kode_perusahaan:this.company.kode_perusahaan,
                            penerima:[{
                                nama:this.recipient.nama,
                                id_penerima:response2.data.id_penerima
                            }]
                        }
                    );                
                    // disable ulang bordernya
                    document.getElementById('companyCode').style.border="none";                
                    this.cancel();

                }
                });// jika create company berhasil maka create recipient harusnya berhasil            
            }).catch((error)=>{            
                this.$isLoading(false);
                if(error.response.data.error=="Database has Integrity Error"){
                    this.$swal.fire({
                        title:`Operasi Gagal`,                    
                        icon:'error'
                    }).then(()=>{
                        // singkatan untuk kode perusahaan sudah digunakan, create manual, dan show input                    
                    })                
                }else{                
                    if(error.response){                    
                        this.$swal.fire({
                            title:error.response.data.error,
                            icon:'error',
                            willClose:()=>{                                
                                if(error.response.data.error=="Kode Perusahaan Telah Digunakan"){
                                    this.isCompanyCodeError=true;
                                    document.getElementById('companyCode').style.border="2px solid red";
                                }else if(error.response.data.error.startsWith('token')){
                                    this.$store.commit("resetState");
                                    this.$router.push({'name':'login'});
                                }
                            }                            
                        })
                    }else{                    
                        this.$swal.fire({
                            title:"Koneksi Error",
                            icon:'error'
                        })            
                    }
                }
                
            })
        }else{
            apiServices.editCompany(this.$route.params.id,this.company).then((response)=>{                                                
            this.$isLoading(false);
            this.$swal.fire({
                title:response.message,
                icon:'success',
                willClose:()=>{
                    this.$router.push({'name':'companyData'});
                }
            })            
        }).catch((error)=>{                        
            this.$isLoading(false);
            if(error.response.data.error=="Database has Integrity Error"){
                this.$swal.fire({
                    title:`Operasi Gagal`,                    
                    icon:'error'
                }).then(()=>{
                    // singkatan untuk kode perusahaan sudah digunakan, create manual, dan show input                    
                })                
            }else{                
                if(error.response){                    
                    this.$swal.fire({
                        title:error.response.data.error,
                        icon:'error',
                        willClose:()=>{
                            if(error.response.data.error=="Kode Perusahaan Telah Digunakan"){
                                this.isCompanyCodeError=true;
                                document.getElementById('companyCode').style.border="2px solid red";
                            }else if(error.response.data.error.startsWith('token')){
                                this.$store.commit("resetState");
                                this.$router.push({'name':'login'});                        
                                }
                        }
                    })
                }else{                    
                    this.$swal.fire({
                        title:"Koneksi Error",
                        icon:'error'
                    })            
                }
            }
            
        })
        }
    }
  },
};
</script>

<style scoped>

#companyCode{    
    text-transform: uppercase;     
}
.error-msg{    
    position:absolute;
    font-size: 10px;    
    text-align:center;
    width:100%;
    margin-left:-15px;
}
:not(:placeholder-shown)#kodeCompany{
        text-transform: uppercase;        
    }
</style>