<template>      
    <div class="justify-content-md-center align-content-center" style="border:2px solid #bbb;border-radius:10px;background-color:#eeefff;" :style="$route.params.id?';margin-top:100px;':''" :class="$route.params.id?'col-lg-8 mx-auto':''"> 
        <div class="header text-left" :class="!$route.params.id?'mt-3':'mt-5 ml-4'">
            <h5 v-if="!$route.params.id">Kode Dokumen</h5>
            <h3 v-else>Edit Kode Dokumen</h3>
        </div>            
        <hr :class="$route.params.id?'ml-4 mr-4':''" :style="$route.params.id?'background-color:black':''"/>
        <form class="text-left" :class="$route.params.id?'mt-5 ml-4':''" @submit.prevent="saveOrUpdate">
            <div class="form-group mb-0 row mr-0 text-left">
                <label for="kodeSurat-code" :class="$route.params.id?'col-3':'col-4 pt-2'"><h6>Kode Dokumen <span class="text-danger">*</span></h6></label>
                <input type="text" class="col" :class="$route.params.id?'mr-5 pr-3 pl-3':'text-center'" id="kodeSurat" placeholder="Kode Dokumen" v-model="kode.kode_surat" >            
            </div>                      
            <div class="row">
                <div :class="$route.params.id?'col-3':'col-4'"></div>
                <span class="col" :class="$route.params.id?'mr-5 pr-3':''">
                    <span class="text-danger error-msg text-center col">{{ errorCode.kode.kode_surat}}</span>                
                </span>
            </div>
            <div class="form-group mt-4 mb-0 row mr-0" :class="!$route.params.id?'mb-0 mr-0':''">
                <label for="kodeSurat-name" :class="$route.params.id?'col-3 ':'col-4 pt-2'"><h6>Deskripsi <span class="text-danger">*</span></h6></label>
                <input type="text" class="col" :class="$route.params.id?'mr-5 pr-3':'col text-center'" placeholder="Deskripsi" v-model="kode.nama">            
            </div>
            <div class="row">
                <div :class="$route.params.id?'col-3':'col-4'"></div>
                <span class="col" :class="$route.params.id?'mr-5 pr-3':''">
                    <span class="text-danger error-msg text-center col">{{ errorCode.kode.nama}}</span>                
                </span>
            </div>
            <div class="text-right" :class="$route.params.id?'my-5 mr-4 pr-2':'my-4'">
                <button class="btn btn-secondary mr-2" @click="cancel()">Batal</button>
                <button class="btn btn-primary ml-2">Simpan Data</button>
            </div>            
        </form>
    </div>  
</template>

<script>

import { apiServices } from '../../api/apiService';

export default {
  name:"kodeSuratForm",  
  data() {
    return {                                        
        kode:{
            nama:"",
            kode_surat:""
        },
        errorCode:{
            kode:{
                nama:null,
                kode_surat:null
            },            
        },                
    };
  },
  watch:{
    // watch data isError ketika create error dari parent (companyform)    
    'kode.nama'(value){        
        if(value.length>30){
            this.errorCode.kode.nama="Dekripsi Kode Dokumen Tidak boleh lebih dari 30";
        }else if(value.length==0){
            this.errorCode.kode.nama="Dekripsi Kode Dokumen Harus Diisi";
        }else{
            this.errorCode.kode.nama=null;
        }
    },
    'kode.kode_surat'(value){        
        if(value.length>10){
            this.errorCode.kode.kode_surat="Kode Dokumen Tidak boleh lebih dari 10";
        }else if(value.length==0){
            this.errorCode.kode.kode_surat="Kode Dokumen Harus Diisi";
        }else{
            this.errorCode.kode.kode_surat=null;
        }
    },    
  },
  mounted(){    
    if(this.$route.params.id){
        // update kode surat, berarti get data kode surat tersebut
        apiServices.getKodeSurat(this.$route.params.id).then((response)=>{
            this.kode=response.data;
        })
    }
  },
  methods: {
    cancel(){
        // sent to parent component
        if(!this.$route.params.id)
            this.$emit('onChildCancel');
        else this.$router.push({'name':'kodeDokumenData'});
    },
    validateError(){
        this.$swal.fire({                  
            icon: 'error',
            title: 'Data Harap Diisi Sesuai Aturan',
        });
        return;
    },    
    saveOrUpdate(){        
        if(this.kode.nama==""){
            this.errorCode.kode.nama="Deskripsi Kode Dokumen Harus Diisi";
        }
        if(this.kode.kode_surat==""){            
            this.errorCode.kode.kode_surat="Kode Dokumen Harus Diisi";
        }                                
        if(this.kode.nama==""||this.kode.kode_surat==""||this.kode.nama.length>30||this.kode.kode_surat.length>10){
            this.validateError();            
            return;
        }
        this.kode.kode_surat=this.kode.kode_surat.toUpperCase();
        this.$isLoading(true);
        if(!this.$route.params.id){
            apiServices.createKodeSurat(this.kode).then((response)=>{
                this.$isLoading(false);
                if(response.status==200){
                    this.$swal.fire({
                        title:response.data.message,
                        icon:'success'
                    })
                    // send data ke parent component
                    this.$emit('onChildSave',this.kode);                                
                    this.cancel();

                }
            }).catch((error)=>{            
                this.$isLoading(false);
                if(error.response){                
                    this.$swal.fire({
                        title:error.response.data.error,
                        icon:'error',
                        willClose:()=>{
                        if(error.response.data.error.startsWith('token')){
                            this.$store.commit("resetState");
                            this.$router.push({'name':'login'});
                        }
                    }
                    });
                }else{                
                    this.$swal.fire({
                        title:"Koneksi Error",
                        icon:'error'
                    });
                }
            })
        }else{
            apiServices.editKodeSurat(this.$route.params.id,this.kode).then((response)=>{            
            this.$isLoading(false);
            this.$swal.fire({
                title:response.data.message,
                icon:'success',
                willClose:()=>{
                    this.$router.push({'name':'kodeDokumenData'});
                }
            })
        }).catch((error)=>{
            this.$isLoading(false);
            if(error.response){                
                this.$swal.fire({
                    title:error.response.data.error,
                    icon:'error',
                    willClose:()=>{
                        if(error.response.data.error.startsWith('token')){
                            this.$store.commit("resetState");
                            this.$router.push({'name':'login'});
                        }
                    }
                });
            }else{                
                this.$swal.fire({
                    title:"Koneksi Error",
                    icon:'error'
                });
            }
        })                
        }
    }
  },
};
</script>
<style scoped>    
  :not(:placeholder-shown)#kodeSurat,:not(:placeholder-shown)#kodeSurat{
    text-transform: uppercase;        
  }
  .error-msg{    
        position:absolute;
        font-size: 10px;    
        text-align:center;
        width:100%;
        margin-left:-15px;
    }  
</style>