<template>      
    <div class="justify-content-md-center align-content-center" style="border:2px solid #bbb;border-radius:10px;background-color:#eeefff;" :style="$route.params.id?';margin-top:100px;':''" :class="$route.params.id?'col-lg-8 mx-auto':''"> 
        <div class="header text-left" :class="!$route.params.id?'mt-3':'mt-5 ml-4'">
            <h5 v-if="!$route.params.id">Data Pengirim</h5>
            <h3 v-else>Edit Data Pengirim</h3>
        </div>
        <hr :class="$route.params.id?'ml-4 mr-4':''" :style="$route.params.id?'background-color:black':''"/>
        <form class="text-left" :class="$route.params.id?'mt-5 ml-4':''" @submit.prevent="SaveOrUpdate">
            <div class="form-group mb-0 row mr-0 text-left">
                <label for="kodePengirim" :class="$route.params.id?'col-3':'col-4 pt-2'"><h6>Kode Perusahaan <span class="text-danger">*</span></h6></label>
                <input type="text" class="col" :class="$route.params.id?'mr-5 pr-3 pl-3':'text-center'" id="kodeSurat" placeholder="Kode Perusahaan" v-model="pengirim.kode_pengirim" >
            </div>                      
            <div class="row">
                <div :class="$route.params.id?'col-3':'col-4'"></div>
                <span class="col" :class="$route.params.id?'mr-5 pr-3':''">
                    <span class="text-danger error-msg text-center col">{{ errorCode.pengirim.kode_pengirim}}</span> 
                </span>
            </div>
            <div class="form-group mt-4 mb-0 row mr-0" :class="!$route.params.id?'mb-0 mr-0':''">
                <label for="namaPerusahaan" :class="$route.params.id?'col-3 ':'col-4 pt-2'"><h6>Nama Perusahaan <span class="text-danger">*</span></h6></label>
                <input type="text" class="col" :class="$route.params.id?'mr-5 pr-3':'col text-center'" placeholder="Nama Perusahaan" v-model="pengirim.nama">            
            </div>
            <div class="row">
                <div :class="$route.params.id?'col-3':'col-4'"></div>
                <span class="col" :class="$route.params.id?'mr-5 pr-3':''">
                    <span class="text-danger error-msg text-center col">{{ errorCode.pengirim.nama}}</span>                
                </span>
            </div>
            <div class="text-right" :class="$route.params.id?'my-5 mr-4 pr-2':'my-4'">
                <button class="btn btn-secondary mr-2" @click="cancel()">Batal</button>
                <button class="btn btn-primary ml-2">Simpan Data</button>
            </div>            
        </form>
    </div>  
</template>

<script>

import { apiServices } from '../../api/apiService';

export default {
  name:"pengirimForm",  
  data() {
    return {                                        
        pengirim:{
            nama:"",
            kode_pengirim:""
        },
        errorCode:{
            pengirim:{
                nama:null,
                kode_pengirim:null
            },            
        },                
    };
  },
  watch:{
    // watch data isError ketika create error dari parent (companyform)    
    'pengirim.nama'(value){        
        if(value.length>40){
            this.errorCode.pengirim.nama="Nama Perusahaan Tidak boleh lebih dari 40";
        }else if(value.length==0){
            this.errorCode.pengirim.nama="Nama Perusahaan Harus Diisi";
        }else{
            this.errorCode.pengirim.nama=null;
        }
    },
    'pengirim.kode_pengirim'(value){        
        if(value.length>10){
            this.errorCode.pengirim.kode_pengirim="Kode Perusahaan Tidak boleh lebih dari 10";
        }else if(value.length==0){
            this.errorCode.pengirim.kode_pengirim="Kode Perusahaan Harus Diisi";
        }else{
            this.errorCode.pengirim.kode_pengirim=null;
        }
    },
  },
  mounted(){
      if(this.$route.params.id){
          apiServices.getPengirim(this.$route.params.id).then((response)=>{
              this.pengirim=response.data;
          })
      }
  },
  methods: {
    cancel(){
        // send to parent komponen
        if(!this.$route.params.id)
            this.$emit('onChildCancel');
        else this.$router.push({'name':'pengirimData'});
    },
    validateError(){
        this.$swal.fire({                  
            icon: 'error',
            title: 'Data Harap Diisi Sesuai Aturan',
        });
        return;
    },    
    SaveOrUpdate(){
        if(this.pengirim.nama==""){
            this.errorCode.pengirim.nama="Nama Peruhsaan Harus Diisi";
        }
        if(this.pengirim.kode_pengirim==""){            
            this.errorCode.pengirim.kode_pengirim="Nama Perusahaan Harus Diisi";
        }                                
        if(this.pengirim.nama==""||this.pengirim.kode_pengirim==""||this.pengirim.nama.length>40||this.pengirim.kode_pengirim.length>10){
            this.validateError();            
            return;
        }
        this.pengirim.kode_pengirim=this.pengirim.kode_pengirim.toUpperCase();
        this.$isLoading(true);
        if(!this.$route.params.id){
            apiServices.createPengirim(this.pengirim).then((response)=>{
                this.$isLoading(false);
                if(response.status==200){
                    this.$swal.fire({
                        title:response.data.message,
                        icon:'success'
                    })
                    // send data ke parent component
                    this.$emit('onChildSave',this.pengirim);                                
                    this.cancel();

                }
            }).catch((error)=>{            
                this.$isLoading(false);
                if(error.response){                
                    this.$swal.fire({
                        title:error.response.data.error,
                        icon:'error',
                        willClose:()=>{
                        if(error.response.data.error.startsWith('token')){
                            this.$store.commit("resetState");
                            this.$router.push({'name':'login'});
                        }
                    }
                    });
                }else{                
                    this.$swal.fire({
                        title:"Koneksi Error",
                        icon:'error'
                    });
                }
            })
        }else{
            apiServices.editPengirim(this.$route.params.id,this.pengirim).then((response)=>{                        
            this.$isLoading(false);
            this.$swal.fire({
                title:response.data.message,
                icon:'success',
                willClose:()=>{
                    this.$router.push({'name':'pengirimData'});
                }
            })                            
        }).catch((error)=>{            
            this.$isLoading(false);
            if(error.response){                
                this.$swal.fire({
                    title:error.response.data.error,
                    icon:'error',
                    willClose:()=>{
                        if(error.response.data.error.startsWith('token')){
                            this.$store.commit("resetState");
                            this.$router.push({'name':'login'});
                        }
                    }
                });
            }else{                
                this.$swal.fire({
                    title:"Koneksi Error",
                    icon:'error'
                });
            }
        })                
        }
    }
  },
};
</script>
<style scoped>    
    :not(:placeholder-shown)#kodePengirim{
    text-transform: uppercase;        
  }
  .error-msg{    
        position:absolute;
        font-size: 10px;    
        text-align:center;
        width:100%;
        margin-left:-15px;
    }  
</style>