<template>      
    <div class="justify-content-md-center align-content-center" style="border:2px solid #bbb;border-radius:10px;background-color:#eeefff;" :style="$route.params.id?';margin-top:100px;':''" :class="$route.params.id?'col-lg-8 mx-auto':''"> 
        <div class="header text-left" :class="!$route.params.id?'mt-3':'mt-5 ml-4'">
            <h5 v-if="!$route.params.id">Data Proyek</h5>
            <h3 v-else>Edit Data Proyek</h3>
        </div>            
        <hr :class="$route.params.id?'ml-4 mr-4':''" :style="$route.params.id?'background-color:black':''"/>
        <form class="text-left" :class="$route.params.id?'mt-5 ml-4':''" @submit.prevent="saveOrUpdate">
            <div class="form-group mb-0 row mr-0 text-left">
                <label for="kodeProyek" :class="$route.params.id?'col-3':'col-4 pt-2'"><h6>Kode Proyek <span class="text-danger">*</span></h6></label>
                <input type="text" class="col" :class="$route.params.id?'mr-5 pr-3 pl-3':'text-center'" id="kodeProject" placeholder="Kode Proyek" v-model="project.kode_project" >
            </div>
            <div class="row">
                <div :class="$route.params.id?'col-3':'col-4'"></div>
                <span class="col" :class="$route.params.id?'mr-5 pr-3':''">
                    <span class="text-danger error-msg text-center col">{{ errorCode.project.kode_project}}</span>
                </span>
            </div>
            <div class="form-group mt-4 mb-0 row mr-0" :class="!$route.params.id?'mb-0 mr-0':''">
                <label for="kodeSurat-name" :class="$route.params.id?'col-3 ':'col-4 pt-2'"><h6>Nama Proyek <span class="text-danger">*</span></h6></label>
                <input type="text" class="col" :class="$route.params.id?'mr-5 pr-3':'col text-center'" placeholder="Nama Proyek" v-model="project.nama">            
            </div>
            <div class="row">
                <div :class="$route.params.id?'col-3':'col-4'"></div>
                <span class="col" :class="$route.params.id?'mr-5 pr-3':''">
                    <span class="text-danger error-msg text-center col">{{ errorCode.project.nama}}</span>                
                </span>
            </div>
            <div class="text-right" :class="$route.params.id?'my-5 mr-4 pr-2':'my-4'">
                <button class="btn btn-secondary mr-2" @click="cancel()">Batal</button>
                <button class="btn btn-primary ml-2">Simpan Data</button>
            </div>            
        </form>
    </div>      
</template>

<script>

import { apiServices } from '../../api/apiService';

export default {
  name:"projectForm",  
  data() {
    return {                                        
        project:{
            nama:"",
            kode_project:""
        },
        errorCode:{
            project:{
                nama:null,
                kode_project:null
            },            
        },                
    };
  },
  mounted(){
    if(this.$route.params.id){
        // update data
        apiServices.getProject(this.$route.params.id).then((response)=>{
            this.project=response.data;
        })
    }
  },
  watch:{
    // watch data isError ketika create error dari parent (companyform)    
    'project.nama'(value){        
        if(value.length>20){
            this.errorCode.project.nama="Nama Project Tidak boleh lebih dari 20";
        }else if(value.length==0){
            this.errorCode.project.nama="Nama Project Harus Diisi";
        }else{
            this.errorCode.project.nama=null;
        }
    },
    'project.kode_project'(value){        
        if(value.length>10){
            this.errorCode.project.kode_project="Kode Project Tidak boleh lebih dari 10";
        }else if(value.length==0){
            this.errorCode.project.kode_project="Kode Project Harus Diisi";
        }else{
            this.errorCode.project.kode_project=null;
        }
    },    
  },  
  methods: {
    cancel(){
        // sent to parent component
        if(!this.$route.params.id)
            this.$emit('onChildCancel');
        else this.$router.push({'name':'projectData'});
    },
    validateError(){
        this.$swal.fire({                  
            icon: 'error',
            title: 'Data Harap Diisi Sesuai Aturan',
        });
        return;
    },    
    saveOrUpdate(){
        if(this.project.nama==""){
            this.errorCode.project.nama="Nama Project Harus Diisi";
        }
        if(this.project.kode_project==""){            
            this.errorCode.project.kode_project="Kode Project Harus Diisi";
        }                                
        if(this.project.nama==""||this.project.kode_project==""||this.project.nama.length>20||this.project.kode_project.length>10){
            this.validateError();            
            return;
        }
        this.project.kode_project=this.project.kode_project.toUpperCase();
        this.$isLoading(true);
        if(!this.$route.params.id){        
            apiServices.createProject(this.project).then((response)=>{
                this.$isLoading(false);
                if(response.status==200){
                    this.$swal.fire({
                        title:response.data.message,
                        icon:'success'
                    })
                    // send data ke parent component
                    this.$emit('onChildSave',this.project);                                
                    this.cancel();

                }
            }).catch((error)=>{
                this.$isLoading(false);    
                if(error.response){                
                    this.$swal.fire({
                        title:error.response.data.error,
                        icon:'error',
                        willClose:()=>{
                        if(error.response.data.error.startsWith('token')){
                            this.$store.commit("resetState");
                            this.$router.push({'name':'login'});
                        }
                    }
                    });
                }else{                
                    this.$swal.fire({
                        title:"Koneksi Error",
                        icon:'error'
                    });
                }
            })
        }else{
            apiServices.editProject(this.$route.params.id,this.project).then((response)=>{            
                this.$isLoading(false);
                this.$swal.fire({
                    title:response.data.message,
                    icon:'success',
                    willClose:()=>{
                        this.$router.push({'name':'projectData'});
                    }
                })                            
            }).catch((error)=>{        
                this.$isLoading(false);    
                if(error.response){                
                    this.$swal.fire({
                        title:error.response.data.error,
                        icon:'error',
                        willClose:()=>{
                        if(error.response.data.error.startsWith('token')){
                            this.$store.commit("resetState");
                            this.$router.push({'name':'login'});
                        }
                    }
                    });
                }else{                
                    this.$swal.fire({
                        title:"Koneksi Error",
                        icon:'error'
                    });
                }
            })
        }
    }
  },
};
</script>
<style scoped>
    
    :not(:placeholder-shown)#kodeProject{
        text-transform: uppercase;        
    }
    .error-msg{    
        position:absolute;
        font-size: 10px;    
        text-align:center;
        width:100%;
        margin-left:-15px;
    }
    .content{
        margin-top:100px;    
        border:2px solid #bbb;
        border-radius: 10px;    
        background-color:#eeefff;
    }
</style>