<template>      
    <div class="justify-content-md-center" style="margin:0;border-radius:2%" :style="!fromCompanyForm?($route.params.id?'':'border:1px solid #ccc;background-color:#eeefff'):''">
        <div v-if="!$route.params.id">
            <div class="header mt-3 text-left">
                <h5>Data Orang Penerima Dokumen</h5>
            </div>
            <hr/>        
            <div class="form-group my-2">
                <label for="recipient-nama" class="pt-2"><h6>Nama Penerima <span class="text-danger">*</span></h6></label>
                <input type="text" class="form-control text-center" placeholder="Nama Penerima" v-model="recipient.nama" >
                <span class="text-danger error-msg">{{ errorCode.recipient.nama}}</span>
            </div>            
            <div class="form-group mt-4 mb-0" v-if="!fromCompanyForm">
                <span v-if="isPerusahaanMode">
                    <span class="row">
                        <label for="recipient-company" class="pt-2 col-3"><h6>Perusahaan <span class="text-danger">*</span></h6></label>
                        <span class="col-1"></span>
                        <select class="col mr-3 pr-2" v-model="selectedCompany">
                            <option disabled value="">Pilih salah satu</option>
                            <option  v-for="data in listCompanies" :value="data" :title="data.nama" :key="data.kode_perusahaan">{{data.nama}}</option>
                        </select>
                    </span>
                    <span class="error-msg text-danger pr-3 text-right" v-if="!fromCompanyForm">{{ errorCode.company}}</span>
                </span>
                <span v-else>
                    <span class="row">                                    
                        <label for="recipient-code" class="pt-2 col-4"><h6>Kode Penerima <span class="text-danger">*</span></h6></label>                            
                        <input type="text" class=" col mr-3 form-control" placeholder="Kode Penerima" v-model="recipient.id_penerima" id="recipient">                            
                    </span>
                    <div class="row">
                        <div class="col-3"></div>
                        <span class="col mr-5 pr-3">
                            <span class="error-msg text-danger pr-3 col" >{{ errorCode.recipient.id_penerima}}</span>
                        </span>
                    </div>                            
                </span>
            </div>                    
            <div class="addSection text-primary mt-4 mr-3" @click="isShowDetailInfo=!isShowDetailInfo;recipient.no_telp='';recipient.email=''">
                <font-awesome-icon icon="plus-circle" class="add-icon"/>
                <p style="font-size:12px" class="mx-2 mb-0">Tambah Detail Info</p>
            </div>

            <span v-if="isShowDetailInfo">
                <div class="form-group my-2 pb-2">
                    <label for="recipient-position" class="pt-2"><h6>Jabatan </h6></label>
                    <input type="text" class="form-control text-center" placeholder="Jabatan Penerima" v-model="recipient.jabatan">
                    <span class="text-danger error-msg">{{ errorCode.recipient.jabatan}}</span>
                </div>
                <div class="form-group my-2">
                    <label for="recipient-email" class="pt-2"><h6>Email Penerima</h6></label>
                    <input type="text" class="form-control text-center" placeholder="Email" v-model="recipient.email" >
                    <span class="text-danger error-msg">{{ errorCode.recipient.email}}</span>
                </div>
                <div class="form-group my-2 pb-2">
                    <label for="recipient-telp" class="pt-2"><h6>No. Telepon</h6></label>
                    <input type="text" class="form-control text-center" placeholder="No. Telepon" v-model="recipient.no_telp">
                    <span class="text-danger error-msg">{{ errorCode.recipient.no_telp}}</span>
                </div>
            </span>

            <div class="button-submit my-4" v-if="!fromCompanyForm">
                <button class="btn btn-secondary mr-2" @click="cancel()">Batal</button>
                <button class="btn btn-primary ml-2" @click="save()">Simpan Data</button>
            </div>
        </div>
        <div v-else>
            <div class="form-group content col-lg-8 align-content-center mx-auto">
                <div class="header mt-5 text-left ml-4">
                    <h3>Edit Data Penerima</h3>
                </div>
                <hr class="ml-4 mr-4" style="background-color:black"/>
                <form class="text-left mt-5 ml-4" @submit.prevent="updateData">
                    <div class="row">
                        <label class="col col-3">Nama Penerima <span class="text-danger">*</span></label>
                        <input type="nama" class="col mr-5 pr-3" placeholder="Nama" v-model="recipient.nama">                        
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <span class="col mr-5 pr-3">
                            <span class="text-danger error-msg text-center">{{errorCode.recipient.nama}}</span>
                        </span>
                    </div>
                    <div class="row mt-4">
                        <label class="col col-3">Jabatan Penerima </label>
                        <input type="jabatan" class="col mr-5 pr-3" placeholder="Jabatan" v-model="recipient.jabatan">
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <span class="col mr-5 pr-3">
                            <span class="text-danger error-msg text-center">{{errorCode.recipient.jabatan}}</span>
                        </span>
                    </div>

                    <div class="form-group mt-4 mb-0" v-if="!fromCompanyForm">
                        <span v-if="this.recipient.kode_perusahaan" class="row">                            
                            <label for="recipient-company" class="pt-2 col-3"><h6>Perusahaan <span class="text-danger">*</span></h6></label>                            
                            <select class="col mr-5 pr-3" v-model="recipient.kode_perusahaan">
                                <option disabled value="">Pilih salah satu</option>
                                <option  v-for="data in listCompanies" :value="data.kode_perusahaan" :title="data.nama" :key="data.kode_perusahaan">{{data.nama}}</option>
                            </select>                            
                            <span class="error-msg text-danger pr-3 text-right" v-if="!fromCompanyForm">{{ errorCode.company}}</span>
                        </span>
                        <span v-else>
                            <span class="row">                                    
                                <label for="recipient-code" class="pt-2 col-3"><h6>Kode Penerima <span class="text-danger">*</span></h6></label>                            
                                <input type="text" class=" col mr-5 pr-3" placeholder="Kode Penerima" v-model="recipient.id_penerima" id="recipient">                            
                            </span>
                            <div class="row">
                                <div class="col-3"></div>
                                <span class="col mr-5 pr-3">
                                    <span class="error-msg text-danger pr-3 col" >{{ errorCode.recipient.id_penerima}}</span>
                                </span>
                            </div>                            
                        </span>
                    </div>                    

                    <div class="addSection text-primary mr-5 mt-3" @click="isShowDetailInfo=!isShowDetailInfo;">
                        <font-awesome-icon icon="plus-circle" class="add-icon"/>
                        <p style="font-size:12px" class="mx-2 mb-0">Tambah Detail Info</p>
                    </div>                    
                    <div class="row mt-4" v-if="isShowDetailInfo">
                        <label class="col col-3">No Telepon</label>
                        <input type="no_telp" class="col mr-5 pr-3" placeholder="No Telepon" v-model="recipient.no_telp">                        
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <span class="col mr-5 pr-3">
                            <span class="error-msg text-danger pr-3 col" >{{ errorCode.recipient.no_telp}}</span>
                        </span>
                    </div>                            
                    <div class="row mt-4" v-if="isShowDetailInfo">
                        <label class="col col-3">Email</label>
                        <input type="email" class="col mr-5 pr-3" placeholder="Email" v-model="recipient.email">                        
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <span class="col mr-5 pr-3">
                            <span class="error-msg text-danger pr-3 col" >{{ errorCode.recipient.email}}</span>
                        </span>
                    </div>                            
                    <div class="text-right mr-4 mt-5 mb-5">
                        <router-link :to="{'name':'companyData'}">
                            <button type="cancel" class="btn btn-secondary mr-2">Batal</button>
                        </router-link>
                        <button type="submit" class="btn btn-primary ml-2">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</template>

<script>

import { apiServices } from '../../api/apiService';

export default {
  nama:"recipientForm",
  props: ['fromCompanyForm','listCompany','isError','isCompanyMode'],
  data() {
    return {    
        recipient:{
            nama:"",
            jabatan:"",
            email:"",
            no_telp:"",
            id_penerima:""
        },
        isPerusahaanMode:true,          //identifikasi ketika add perusahaan baru dalam mode perusahaan atau perorangan
        isShowDetailInfo:false,         //digunakan untuk mengatur tampilan additional info (email dan no telpon)
        errorCode:{
            recipient:{
                nama:null,
                jabatan:null,
                email:null,
                no_telp:null,
                id_penerima:null
            },
            company:null
        },
        selectedCompany:"",             //digunakan untuk identifikasi perusahaan yang terpilih dalam mode perusahaan
        listCompanies:[],               //data list perusahaan tujuan
        isShowError:false
    };
  },
  mounted() {    
    if(this.listCompany)                            //props penampung data list perusahaan
        this.listCompanies=this.listCompany;
    this.isShowError=this.isError;
    if(this.$route.params.id){
        apiServices.getAllCompany().then((response)=>{
            this.listCompanies=response.data;
        })
        apiServices.getRecipient(this.$route.params.id).then((response)=>{
            this.recipient=response.data;
            if(this.recipient.email==null)this.recipient.email="";
            if(this.recipient.no_telp==null)this.recipient.no_telp="";
            this.selectedCompany=this.recipient.kode_perusahaan;
        });
    }
    if(this.isCompanyMode!=null){
        this.isPerusahaanMode = this.isCompanyMode;
    }
  },
  watch:{
    isShowDetailInfo(value){        
        if(value==false){
            this.recipient.email="";
            this.recipient.no_telp="";
        }
    },
    // watch data isError ketika create error dari parent (companyform)
    isError:function(){
        if(this.recipient.nama.length==0){
            this.errorCode.recipient.nama="Nama Penerima Harus Diisi";            
        }
        if(this.recipient.nama.length>40){
            this.errorCode.recipient.nama="Nama Penerima Tidak Boleh Lebih Dari 40 karakter";
        }
        // if(this.recipient.jabatan.length==0){
        //     this.errorCode.recipient.jabatan="Jabatan Penerima Harus Diisi";            
        // }
        // if(this.recipient.jabatan.length>25){
        //     this.errorCode.recipient.jabatan="Jabatan Penerima Tidak Boleh Lebih dari 25 karakter";
        // }
        if(this.selectedCompany==""){
            this.errorCode.company="Perusahaan Harus Diisi";
        }
    },
    'recipient.nama'(value){        
        if(value.length>40){
            this.errorCode.recipient.nama="Nama Penerima Tidak Boleh Lebih dari 40 karakter ";
        }else if(value.length==0){
            this.errorCode.recipient.nama="Nama Penerima Harus Diisi";
        }else{
            this.errorCode.recipient.nama=null;
        }
    },
    'recipient.jabatan'(value){        
        if(value.length>25){
            this.errorCode.recipient.jabatan="Jabatan Penerima Tidak Boleh Lebih dari 25 karakter ";
        // }else if(value.length==0){
        //     this.errorCode.recipient.jabatan="Jabatan Penerima Harus Diisi";
        }else{
            this.errorCode.recipient.jabatan=null;
        }
    },
    'recipient.email'(value){
        // template regex email
        if(value.length>0){
            let check = /\S+@\S+\.\S+/.test(value);
            if(!check&&value!=""){
                this.errorCode.recipient.email="Format Email Salah";
                return;            
            }
        }
        if(value.length>45){
            this.errorCode.recipient.email="Email Penerima Tidak Boleh Lebih dari 45 karakter ";
        }else{
            this.errorCode.recipient.email=null;
        }
    },
    'recipient.no_telp'(value){        
        if(value.length>0){
            let check=/^(\+?)[0-9]*$/.test(value)
            if(!check){
                this.errorCode.recipient.no_telp="Format No Telepon Salah";
                return;
            }
        }
        if(value.length>20){
            this.errorCode.recipient.no_telp="No Telpon Penerima Tidak Boleh Lebih dari 20 digit ";
        }else{
            this.errorCode.recipient.no_telp=null;
        }
    },
    'recipient.id_penerima'(value){        
        if(value.length>15){
            this.errorCode.recipient.id_penerima="Kode Penerima Tidak Lebih dari 15 karakter";
        }else if(value.length==0&&this.$route.params.id&&!this.recipient.kode_perusahaan){
            this.errorCode.recipient.id_penerima="Kode Penerima Tidak Boleh Kosong";
        }else if(value.length==0&&!this.$route.params.id){
            this.errorCode.recipient.id_penerima="Kode Penerima Tidak Boleh Kosong";        
        }else{
            this.errorCode.recipient.id_penerima=null;
        }

    },    
    selectedCompany(value){
        if(value==""){
            this.errorCode.company="Perusahaan Harus Diisi";
        }else{
            this.errorCode.company=null;
        }
        
    }
  },  
  methods: {    
    cancel(){        
        this.recipient.nama="";
        this.recipient.jabatan="";
        this.$emit('onChildCancel');
    },
    validateError(){
        this.$swal.fire({                  
            icon: 'error',
            title: 'Data Harap Diisi Sesuai Aturan',
        });
        return;
    },
    updateData(){                
        if(this.recipient.nama==""){
            this.errorCode.recipient.nama="Nama Penerima Harus Diisi";            
        }
        // if(this.recipient.jabatan==""){            
        //     this.errorCode.recipient.jabatan="Jabatan Penerima Harus Diisi";            
        // }                                
        // if(this.recipient.nama==""||this.recipient.jabatan==""||this.recipient.nama.length>40||this.recipient.jabatan.length>25){
        if(this.recipient.nama==""||this.recipient.nama.length>40){
            this.validateError();
            return;
        }
        if(this.errorCode.recipient.email=="Format Email Salah"||this.errorCode.recipient.email=="Email Penerima Tidak Boleh Lebih dari 45 karakter "||
           this.errorCode.recipient.no_telp=="Format No Telepon Salah"||this.errorCode.recipient.no_telp=="No Telpon Tidak Boleh Lebih dari 20 digit "){            
            this.validateError();
            return;
        }        
        if(!this.recipient.kode_perusahaan&&this.errorCode.recipient.id_penerima!=null){
            this.validateError();            
            return;            
        }
        // if(this.isPerusahaanMode){
        //     delete this.recipient['kode_perusahaan'];
        // }
        this.$isLoading(true);
        apiServices.editRecipient(this.$route.params.id,this.recipient).then((response)=>{
            this.$isLoading(false);
            this.$swal.fire({
                title:response.message,
                icon:'success',
                willClose:()=>{
                    this.$router.push({'name':'companyData'});
                }
            })                            
        }).catch((error)=>{
            this.$isLoading(false);
            if(error.response){
                this.$swal.fire({
                    title:error.response.data.error,
                    icon:'error',
                    willClose:()=>{
                        if(error.response.data.error.startsWith('token')){
                            this.$store.commit("resetState");
                            this.$router.push({'name':'login'});
                        }
                    }
                });
            }else{                
                this.$swal.fire({
                    title:"Koneksi Error",
                    icon:'error'
                });
            }
        })                
    },
    save(){        
        if(this.recipient.nama==""){
            this.errorCode.recipient.nama="Nama Penerima Harus Diisi";            
        }
        // if(this.recipient.jabatan==""){            
        //     this.errorCode.recipient.jabatan="Jabatan Penerima Harus Diisi";
        // }          
        if(this.selectedCompany==""){
            this.errorCode.company="Perusahaan Harus Diisi";
        }        
        if(!this.isPerusahaanMode){
            if(this.recipient.id_penerima==""){
                this.errorCode.recipient.id_penerima="Kode Penerima Harus Diisi";               
            }
            if(this.errorCode.recipient.id_penerima!=null){
                this.validateError();
                return;
            }
        }                
        // if(this.recipient.nama==""||this.recipient.jabatan==""||this.recipient.nama.length>40||this.recipient.jabatan.length>25){
        if(this.recipient.nama==""||this.recipient.nama.length>40){
            this.validateError();
            return;
        }        
        if(this.selectedCompany==""&&this.isPerusahaanMode){
            this.validateError();
            return;
        }        
        if(this.$route.params.id&&!this.recipient.kode_perusahaan&&this.errorCode.recipient.id_penerima!=null){
            this.validateError();
            return;            
        }        
        if(this.errorCode.recipient.email=="Format Email Salah"||this.errorCode.recipient.email=="Email Penerima Tidak Boleh Lebih dari 45 karakter "||
           this.errorCode.recipient.no_telp=="Format No Telp Salah"||this.errorCode.recipient.no_telp=="No Telpon Tidak Boleh Lebih dari 20 digit "){
            this.validateError();
            return;
        }        
        this.recipient.kode_perusahaan=this.selectedCompany.kode_perusahaan;        
        if(this.recipient.id_penerima!=null){
            this.recipient.id_penerima=this.recipient.id_penerima.toUpperCase();
        }
        this.$isLoading(true);
        apiServices.createRecipient(this.recipient).then((response)=>{
            this.$isLoading(false);
            if(response.status==200){
                this.$swal.fire({
                    title:response.data.message,
                    icon:'success'
                })
                // send data ke parent component
                this.$emit('onChildSave',{            
                        nama:this.selectedCompany.nama,
                        kode_perusahaan:this.selectedCompany.kode_perusahaan,
                        penerima:{
                            nama:this.recipient.nama,                            
                            id_penerima:response.data.id_penerima
                        }         
                    }
                );                                
                this.cancel();

            }
        }).catch((error)=>{       
            this.$isLoading(false);                          
            if(error.response){
                this.$swal.fire({
                    title:error.response.data.error,
                    icon:'error',
                    willClose:()=>{
                        if(error.response.data.error.startsWith('token')){
                            this.$store.commit("resetState");
                            this.$router.push({'name':'login'});
                        }
                    }
                });
            }else{                
                this.$swal.fire({
                    title:"Koneksi Error",
                    icon:'error'
                });
            }
        })                
    }
  },
};
</script>
<style scoped>    
    .addSection{
        cursor: pointer;
        text-align: right;    
        right: 0;
    }
    .add-icon{
        position: absolute;        
    }
    .content{
        margin-top:100px;            
        border-radius:10px;    
        border:1px solid #ccc;
        background-color:#eeefff;
    }
    :not(:placeholder-shown)#recipient{
    text-transform: uppercase;        
  }
  .error-msg{    
    position:absolute;
    font-size: 10px;    
    text-align:center;
    width:100%;
    margin-left:-15px;
}
</style>