<template>      
    <div class="content col-lg-9 col-md-9 col-sm-12 justify-content-md-center" style="background-color:#eeefff">
        <div class="header mt-3 text-left">
            <h5>User Form</h5>
        </div>
        <hr/>
        <div class="form-content text-left">
            <div class="form-group mt-2 mb-0 row">
                <label for="user-name" class="pt-2 col-lg-3"><h6>Nama User <span class="text-danger">*</span></h6></label>
                <span class="col">
                    <input type="text" class="form-control text-center col" placeholder="Nama" v-model="user.name" >
                </span>
            </div>
            <span class="row">
                <span class="text-danger error-msg">{{errorCode.user.name}}</span>
            </span>            
            <div class="form-group mb-0 row mt-4">                
                <label for="username" class="pt-2 col-lg-3"><h6>Username <span class="text-danger">*</span></h6></label>
                <span class="col">
                    <input type="text" class="form-control text-center col" placeholder="Username" v-model="user.username" >
                </span>
            </div>
            <span class="row">
                <span class="text-danger error-msg">{{errorCode.user.username}}</span>
            </span>
            <div class="form-group mt-4 mb-0 row">
                <label for="user-password" class="pt-2 col-lg-3"><h6>{{$route.params.id?'New Password':'Password'}} <span class="text-danger" v-if="!$route.params.id">*</span></h6></label>
                <span class="col">
                    <font-awesome-icon :icon="icon" class="icon-password align-content-center mr-4" @click="icon=icon=='eye'?'eye-slash':'eye';"/>
                    <input :type="icon=='eye'?'password':'text'" class="form-control text-center col" :placeholder="$route.params.id?'New Password':'Password'" v-model="user.password" >
                </span>
            </div>
            <span class="row">
                 <span class="text-danger error-msg" v-if="$route.params.id">{{errorCode.user.password}}</span>
            </span>
            <div class="form-group mt-4 mb-0 row">
                <label for="user-password" class="pt-2 col-lg-3"><h6>Konfirmasi Password </h6></label>
                <span class="col">
                    <font-awesome-icon :icon="icon_confirm" class="icon-password align-content-center mr-4" @click="icon_confirm=icon_confirm=='eye'?'eye-slash':'eye';"/>
                    <input :type="icon_confirm=='eye'?'password':'text'" class="form-control text-center col" :placeholder="$route.params.id?'New Password':'Password'" v-model="passwordValidation" >
                </span>
            </div>
            <span class="row">
                 <span class="text-danger error-msg" v-if="!$route.params.id">{{errorCode.passwordValidation}}</span>
            </span>

            <div class="form-group mt-4 mb-0 row">                
                <label for="user-code_name" class="pt-2 col-lg-3"><h6>Code Name <span class="text-danger">*</span> </h6></label>
                <span class="col">
                    <input type="text" class="form-control text-center col" placeholder="Code Name" id="codeName" v-model="user.code_name" >
                </span>
            </div>
             <span class="row">
                <span class="text-danger error-msg">{{errorCode.user.code_name}}</span>
            </span>
            <br>
            <div class="button-submit my-3">
                <button class="btn btn-secondary" @click="cancel()">Batal</button>                
                <button class="btn btn-primary ml-2" @click="save()">Simpan Data</button>
            </div> 
        </div>
    </div>  
</template>

<script>

import { apiServices } from '../../api/apiService';

export default {
  name:"userForm",  
  mounted() {
      if(this.$route.params.id){          
          apiServices.getUser(this.$route.params.id).then((response)=>{
              this.user=response.data;
              this.user.password="";
          })
      }
  },
  watch:{
    'user.name'(value){
        if(value.length==0){
            this.errorCode.user.name="Nama Tidak Boleh Kosong";
        }else if(value.length>45){
            this.errorCode.user.name="Nama Tidak Boleh Lebih dari 45 karakter";
        }else{
            this.errorCode.user.name=null;
        }
    },
    'user.username'(value){
        if(value.length>0){
            let check=/^[a-zA-Z\d-_]+$/.test(value)
            if(!check){
                this.errorCode.user.username="Username terdiri dari alphanumeric, tanda hubung dan garis bawah";
                return;
            }
        }        
        if(value.length==0){
            this.errorCode.user.username="Username Tidak Boleh Kosong";
        }else if(value.length>25){
            this.errorCode.user.username="Username Tidak Boleh Lebih dari 25 karakter";
        }else{
            this.errorCode.user.username=null;
        }
    },
    'user.code_name'(value){
        if(value.length==0){
            this.errorCode.user.code_name="Code Tidak Boleh Kosong";
        }else if(value.length>5){
            this.errorCode.user.code_name="Code name Tidak Boleh Lebih dari 5 karakter";
        }else{
            this.errorCode.user.code_name=null;
        }
    },
    'user.password'(value){
        if(value.length==0){
            this.errorCode.user.password="Password Tidak Boleh Kosong";
        }else if(value.length<6){
            this.errorCode.user.password="Password Minimal 6 karaker ";
        }else if(value.length>200){
            this.errorCode.user.password="Password Tidak Boleh Lebih dari 200 karakter";        
        }else{
            this.errorCode.user.password=null;
        }
        if(this.passwordValidation!=value){
            this.errorCode.passwordValidation="Konfirmasi Password Salah";
        }
    },
    passwordValidation(value){
        if(value.length==0){
            this.errorCode.passwordValidation=null;
        }else if(value!=this.user.password){
            this.errorCode.passwordValidation="Konfirmasi Password Salah";
        }else{
            this.errorCode.passwordValidation=null;
        }
    }
  },
  data() {
    return {        
        icon:"eye",
        icon_confirm:"eye",
        user:{
            username:"",
            name:"",
            code_name:"",
            password:"",
            role:3      // role user
        },
        errorCode:{
            user:{
                username:null,
                name:null,
                code_name:null,
                password:null,
            },
            passwordValidation:null
        },
        passwordValidation:""
    };
  },
  methods: {    
    cancel(){        
        this.$router.push({'name':'userData'});
    },
    validateForm(){    
        this.$swal.fire({                  
            icon: 'error',
            title: 'Data Harap Diisi Sesuai Aturan',
        });
    },
    save(){        
        if(this.user.name=="")
            this.errorCode.user.name="Nama Tidak Boleh Kosong";        
        if(this.user.username=="")
            this.errorCode.user.username="Username Tidak Boleh Kosong";
        if(this.user.password=="")
            this.errorCode.user.password="Password Tidak Boleh Kosong";
        if(this.user.code_name=="")
            this.errorCode.user.code_name="Code Name Tidak Boleh Kosong";

        if(this.user.name==""||this.user.username==""||this.user.code_name==""||
            this.user.name.length>45||this.user.username.length>25||this.user.code_name.length>5){
            this.validateForm();
            return;
            }        
        if(!this.$route.params.id&&(this.user.password==""||this.user.password.length>200||this.user.password.length<6)){
            this.validateForm();
            return;
        }
        if(this.$route.params.id&&this.user.password!=""&&this.errorCode.user.password!=null){
            this.validateForm();
            return;
        }
        if(this.user.passwordValidation!=this.errorCode.passwordValidation){
            this.validateForm();
            return;
        }
        if(this.errorCode.user.username!=null){
            this.validateForm();
            return;
        }

        this.user.code_name=this.user.code_name.toUpperCase();
        this.$isLoading(false);
        if(this.$route.params.id){
            delete this.user["role"];            
            apiServices.editUser(this.$route.params.id,this.user).then((response)=>{
            this.$isLoading(false);
            if(response.status==200){
                this.$swal.fire({
                    title:response.data.message,
                    icon:'success',
                    willClose: () => {
                        // jika mengganti username diri sendiri, maka logout karena jwt harus ganti
                        if(this.$store.state.user.name==this.$route.params.id&&(this.$store.state.user.name!=this.user.username||this.$store.state.user.code_name!=this.user.code_name)){
                            this.$swal.fire({
                                title:'Please Login With New Data',
                                icon:'info',
                                willClose:()=>{
                                    this.$store.commit('resetState');
                                    this.cancel();
                                }
                            });                                                     
                        }
                        this.cancel();
                    }
                })
            }
        }).catch((error)=>{            
            this.$isLoading(false);
            if(error.response){
                this.$swal.fire({
                    title:error.response.data.error,
                    icon:'error',
                    willClose:()=>{
                        if(error.response.data.error.startsWith('token')){
                            this.$store.commit("resetState");
                            this.$router.push({'name':'login'});
                        }
                    }
                })
            }else{                
                this.$swal.fire({
                    title:"Koneksi Error",
                    icon:'error'
                })            
            }
        })
        }else{                        
            apiServices.createUser(this.user).then((response)=>{                        
            this.$isLoading(false);
            if(response.status==200){                
                this.$swal.fire({
                    title:response.data.message,
                    icon:'success',
                    willClose: () => {
                        this.cancel();
                    }
                })
            }
        }).catch((error)=>{
            this.$isLoading(false);
            if(error.response){
                this.$swal.fire({
                    title:error.response.data.error,
                    icon:'error',
                    willClose:()=>{
                        if(error.response.data.error.startsWith('token')){
                            this.$store.commit("resetState");
                            this.$router.push({'name':'login'});
                        }
                    }
                })
            }else{                
                this.$swal.fire({
                    title:"Koneksi Error",
                    icon:'error'
                })            
            }
        })                
        }
        
    }
  },
};
</script>
<style scoped>
.content{    
    padding-top: 10px;
    margin-left:auto;
    margin-right: auto;    
    margin-top:100px;        
    padding-bottom: 20px;
    padding-bottom: 100px;
    border:2px solid #bbb;
    border-radius: 10px;    
}
.form-content{
    width:80%;
    margin-left:auto;
    margin-right: auto;
    padding-top:20px;    

}
.icon-password{
    position:absolute;
    text-align:right;
    font-size: 25px;
    margin-top:5px;
    right:0;    
    z-index: 999;
}
.error-msg{    
    position:absolute;
    font-size: 10px;    
    text-align:center;
    width:100%;
    margin-left:-15px;
}
:not(:placeholder-shown)#codeName{
        text-transform: uppercase;        
    }
</style>