<template>
  <div>    
    <div class="row justify-content-md-center text-left " style="margin:0;margin-top:80px;margin-bottom:50px;">
      <div class="col-lg-7 col-md-9 col-sm-12 pb-5 mt-4 px-5 mx-2" style="border:2px solid #aaa;border-radius:3%;">
        <div class="header mt-5 text-left">
          <h4>Generate Nomor Dokumen Baru</h4>
        </div>
        <hr>  
              
          <div class="form-group row my-2">
            <label for="document-code" class="col-3 pt-2"><h6>Kode Dokumen <span class="text-danger">*</span></h6></label>
              <select class="col" v-model="surat.kode_surat" @click="listForm.kode_surat=false;isButtonSubmitHidden=false">
                <option disabled value="">Pilih Salah Satu</option>
                <option :id="data" v-for="data in listKodeSurat" :value="data.kode_surat" :key="data.kode_surat">{{data.nama}} ({{data.kode_surat}})</option>                             
              </select>                            
          </div>          
          <div class="row form-group my-2" style="min-height:20px">
            <div class="col-3"></div>         <!-- template agar error msg & addsection memiliki area sejajar dengan select box -->
            <span class="col row mr-0">
              <span class="text-danger error-msg col text-left">{{errorCode.surat.kode_surat}}</span>
              <div class="addSection text-primary" @click="showForm('kode_surat')" v-if="$store.state.user.role<3">
                <font-awesome-icon icon="plus-circle" class="add-icon"/>
                <p style="font-size:12px" class="mx-2 mb-0">Tambah Kode Dokumen Baru</p>
              </div>
            </span>
          </div>
           <div class="row my-3" v-if="listForm.kode_surat">
            <div class="col-md-3"></div>
            <kode-surat-form class="col" @onChildCancel="showForm('kode_surat')" @onChildSave="onChildSave('kode_surat',$event)"></kode-surat-form>
          </div>

          <div class="form-group row my-2">
            <label for="pengirim" class="col-3 pt-2"><h6>PT Pengirim <span class="text-danger">*</span></h6></label>
            <select class="col" v-model="surat.pengirim" @click="listForm.pengirim=false;isButtonSubmitHidden=false">
              <option disabled value="">Pilih Salah Satu</option>
              <option  v-for="data in listPengirim" :value="data.kode_pengirim" :key="data.kode_pengirim">{{data.nama}} ({{data.kode_pengirim}})</option>
            </select>
          </div>
          <div class="row form-group my-2" style="min-height:20px">
            <div class="col-3"></div>         <!-- template agar error msg & addsection memiliki area sejajar dengan select box -->
            <span class="col row mr-0">
              <span class="text-danger error-msg col text-left">{{errorCode.surat.pengirim}}</span>
              <div class="addSection text-primary" @click="showForm('pengirim')" v-if="$store.state.user.role<3">
                <font-awesome-icon icon="plus-circle" class="add-icon"/>
                <p style="font-size:12px" class="mx-2 mb-0">Tambah Data Pengirim Baru</p>
              </div>
            </span>
          </div>
          <div class="row my-3" v-if="listForm.pengirim">
            <div class="col-md-3"></div>
            <pengirim-form class="col" @onChildCancel="showForm('pengirim')" @onChildSave="onChildSave('pengirim',$event)"></pengirim-form>
          </div>

          <div class="form-group row my-2">
            <label for="project-code" class="col-3 pt-2"><h6>Kode Proyek <span class="text-danger">*</span></h6></label>
            <select class="col" v-model="surat.kode_project" @click="listForm.kode_project=false;isButtonSubmitHidden=false">
              <option disabled value="">Pilih Salah Satu</option>
              <option :title="data.nama" v-for="data in listProjectCode" :value="data.kode_project" :key="data.kode_project">{{data.kode_project}}</option>              
            </select>
          </div>
          <div class="row form-group my-2" style="min-height:20px">
            <div class="col-3"></div>         <!-- template agar error msg & addsection memiliki area sejajar dengan select box -->
            <span class="col row mr-0">
              <span class="text-danger error-msg col text-left">{{errorCode.surat.kode_project}}</span>
              <div class="addSection text-primary" @click="showForm('kode_project')" v-if="$store.state.user.role<3">
                <font-awesome-icon icon="plus-circle" class="add-icon"/>
                <p style="font-size:12px" class="mx-2 mb-0">Tambah Data Proyek Baru</p>
              </div>
            </span>
          </div>
          <div class="row my-3" v-if="listForm.kode_project">
            <div class="col-md-3"></div>
            <kode-project-form class="col" @onChildCancel="showForm('kode_project')" @onChildSave="onChildSave('kode_project',$event)"></kode-project-form>
          </div>

          <div class="form-group row my-2" style="min-height:20px">
            <label for="tujuan" class="col-3 pt-2"><h6>Tujuan <span class="text-danger">*</span></h6></label>
            <select class="col" v-model="penerimaTipe" @change="changePenerima()">
              <option disabled value="">Pilih Salah Satu</option>              
              <option value="perusahaan">Perusahaan</option>
              <option value="perorangan">Perorangan</option>
            </select>            
          </div>
          <div class="row form-group my-2" style="min-height:20px">
            <div class="col-3"></div>         <!-- template agar error msg & addsection memiliki area sejajar dengan select box -->
            <span class="col row">
              <span class="text-danger error-msg col text-center">{{errorCode.penerima}}</span>
            </span>
          </div>          
          <div class="row my-2" v-if="penerimaTipe!=''">
              <div class="col-md-3 px-0"></div>              
              <div class="col pb-5 mr-0 ml-0 pt-3 penerima"> 
                <div v-if="penerimaTipe=='perusahaan'">
                  <div class="row">
                    <h6 class="col">Pilih Perusahaan <span class="text-danger">*</span></h6>
                    <h6 class="col">Pilih Penerima <span class="text-danger">*</span></h6>
                  </div>
                  <div class="row">
                    <div class ="col pr-2" id="company" >
                      <select v-model="selectedTujuan" class="pl-3 col">
                        <option disabled value="">Nama Perusahaan</option>
                        <option :title="data.nama" :id="data.kode_perusahaan" v-for="data in listCompany" :value="data" :key="data.kode_perusahaan">{{data.nama}}</option>
                      </select>
                      <div class="addSection text-primary pt-2 mr-3" @click="showForm('perusahaan_tujuan')">
                        <font-awesome-icon icon="plus-circle" class="add-icon"/>
                        <p style="font-size:12px" class="mx-2 mb-0">Tambah Data Perusahaan Baru</p>
                      </div>                      
                      <div class="text-right">
                        <span class="text-danger error-msg col">{{errorCode.surat.tujuan}}</span>
                      </div>                            
                    </div>

                    <div class ="col" id="recipient">
                      <select v-model="surat.penerima" class="pl-3 col">
                        <option disabled value="">Nama Penerima</option>
                        <option v-for="data in listRecipient" :value="data.id_penerima" :key="data.id_penerima">{{data.nama}}</option>
                      </select>         
                      <div class="addSection text-primary pt-2 mr-3" @click="showForm('penerima')">
                        <font-awesome-icon icon="plus-circle" class="add-icon"/>
                        <p style="font-size:12px" class="mx-2 mb-0">Tambah Penerima Baru</p>
                      </div>         
                      <div class="text-right">
                        <span class="text-danger error-msg" style="position:inherit">{{errorCode.surat.penerima}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else>                                   
                  <h6>Pilih Penerima <span class="text-danger">*</span></h6>
                  <div class="row">
                    <div class ="col" id="recipient">
                        <select v-model="surat.penerima" class="pl-3 col">
                          <option disabled value="">Nama Penerima</option>
                          <option v-for="data in listRecipientWithoutCompany" :value="data.id_penerima" :key="data.id_penerima">{{data.nama}}</option>
                        </select>         
                        <div class="addSection text-primary pt-2 mr-3" @click="showForm('penerima')">
                          <font-awesome-icon icon="plus-circle" class="add-icon"/>
                          <p style="font-size:12px" class="mx-2 mb-0">Tambah Penerima Baru</p>                                
                        </div>         
                        <div class="text-center">
                          <span class="text-danger error-msg" style="position:inherit">{{errorCode.surat.penerima}}</span>
                        </div>
                      </div>
                    </div>
                </div>
              </div>              
            </div>
            
          <div class="row my-2" v-if="listForm.perusahaan_tujuan">
            <div class="col-md-3"></div>
            <company-form class="col" @onChildCancel="showForm('perusahaan_tujuan')" @onChildSave="onChildSave('perusahaan_tujuan',$event)"></company-form>
          </div>
          <div class="row my-2" v-if="listForm.penerima">
            <div class="col-md-3"></div>
            <recipient-form class="col" :listCompany="listCompany" :isCompanyMode="(penerimaTipe=='perusahaan')?true:false" @onChildCancel="showForm('penerima')" @onChildSave="onChildSave('penerima',$event)"></recipient-form>
          </div>

          <div class="form-group row mb-2 mt-4">
            <label for="subject-surat" class="col-3 pt-2"><h6>Subject Surat <span class="text-danger">*</span></h6></label>
            <textarea class="form-control col border border-dark text-dark" id="subject-surat" rows="3" placeholder="Subject Surat" v-model="surat.subject"></textarea>
          </div>
          <div class="row form-group my-2" style="min-height:20px">
            <div class="col-3"></div>         <!-- template agar error msg & addsection memiliki area sejajar dengan select box -->            
              <span class="text-danger error-msg col">{{errorCode.surat.subject}}</span>                          
          </div>            

          <div class="button-submit pt-4">
            <button class="btn btn-primary" @click="generateDocumentNumber()" :hidden="isButtonSubmitHidden">Generate No Surat</button>
          </div>        
      </div>
    </div>
  </div>
</template>

<script>

import CompanyForm from '../component/forms/CompanyForm.vue';
import RecipientForm from '../component/forms/RecipientForm.vue';
import {apiServices} from '../api/apiService';
import KodeSuratForm from '../component/forms/KodeDokumenForm.vue';
import PengirimForm from '../component/forms/PengirimForm.vue';
import KodeProjectForm from '../component/forms/ProjectForm.vue';


export default {
  components: { CompanyForm, RecipientForm, KodeSuratForm, PengirimForm, KodeProjectForm },
  name:"home", 
  data() {
    return {        
        selectedTujuan:"",
        listKodeSurat: [],
        listProjectCode: [],
        listRecipient: [],
        listPengirim: [],
        listCompany: [],
        listForm:{            
          kode_surat:false,
          pengirim:false,
          kode_project:false,
          perusahaan_tujuan:false,
          penerima:false,
        },                  
        isButtonSubmitHidden:false,  
        pengirim: [],        
        showModalCategory: false,
        surat:{
          kode_surat:"",
          kode_project:"",
          pengirim:"",
          penerima:"",
          person_in_charge:"",
          subject:""
        },
        errorCode:{
          surat:{
            kode_surat:null,
            kode_project:null,
            pengirim:null,
            penerima:null,
            tujuan:null,
            subject:null
          },
          penerima:null,
          createKode_project:null
        },
        customProjectCode:"",
        isAddNewRecipient:false,
        isAddNewCompany:false,
        penerimaTipe:"",
        listRecipientWithoutCompany:[]
    };
  }, 
  mounted() {        
    apiServices.getAllKodeSurat().then((response)=>{
      this.listKodeSurat=response.data;    
    });
    apiServices.getAllPengirim().then((response)=>{
      this.listPengirim=response.data;
    })
    apiServices.getCompanyRecipient().then((response)=>{
      this.listCompany=response.data;
    })
    apiServices.getAllProject().then((response)=>{
      this.listProjectCode=response.data;      
    })
    apiServices.getAllRecipientWithoutCompany().then((response)=>{
      this.listRecipientWithoutCompany=response.data;
    })
  },
  watch:{
    customProjectCode(val){
      if(val.length==0&&this.showModalCategory){
        this.errorCode.createKode_project="Kode Project Tidak Boleh Kosong";
      }else if(val.length>4){
        this.errorCode.createKode_project="Kode Project Tidak Boleh Lebih Dari 4 Karakter";
      }else{
        this.errorCode.createKode_project="";
      }
    },
    'surat.kode_project':function(newVal){
      if(newVal=="addProjectCode"){
        this.showModalCategory=true;
        this.surat.kode_project="";        
      }
      if(newVal!=""){
        this.errorCode.surat.kode_project=null;
      }
    },    
    'surat.kode_surat'(value){
      if(value!=""){
        this.errorCode.surat.kode_surat=null;
      }
    },
    'surat.pengirim'(value){
      if(value!=""){
        this.errorCode.surat.pengirim=null;
      }
    },    
    selectedTujuan:function(newVal){      
      if(newVal!=""){        
        this.listRecipient=newVal.penerima;
        this.errorCode.surat.tujuan=null;
      }
    },
    'surat.penerima'(value){
      if(value!=""){
        this.errorCode.surat.penerima=null;
      }    
    },
    'errorCode.surat.penerima'(value){
      if(value!=null){
        this.errorCode.penerima="Penerima Tidak Boleh Kosong";
      }else{
        this.errorCode.penerima=null;
      }
    },
    'surat.subject'(value){
      if(value==null){
        return;
      }
      if(value.length==0){
        this.errorCode.surat.subject="Subject Surat Tidak Boleh Kosong";
      }else if(value.length>45){
        this.errorCode.surat.subject="Subject Surat Tidak Boleh Lebih Dari 45 Karakter";
      }else{
        this.errorCode.surat.subject="";
      }
    }
  },  
  methods: {
    changePenerima(){
      this.selectedTujuan="";
      this.surat.penerima="";
      this.listRecipient="";
      this.listForm.penerima=false;
      this.listForm.perusahaan_tujuan=false;
    },
    saveNewProjectCode(){
      if(this.customProjectCode!=""){
        if(this.customProjectCode.length>4)return;
        // cek di listProjectCode
        if(!this.listProjectCode.find(data=>data==this.customProjectCode.toUpperCase())){
          this.listProjectCode.push(this.customProjectCode.toUpperCase());
          this.surat.kode_project=this.customProjectCode.toUpperCase();
          this.customProjectCode="";
          this.showModalCategory=false;          
          this.errorCode.createKode_project="";
        }else{
          this.errorCode.createKode_project="Kode Project Sudah Ada";
        }
      }      
    },
    refreshData(){
      this.listRecipient=[];
      Object.keys(this.surat).forEach(key=>{        
          this.surat[key]="";
        })
        this.selectedTujuan="";
        this.surat.penerima="";
        this.surat.subject=null;
        if(this.penerimaTipe=='perorangan'){
          apiServices.getAllRecipientWithoutCompany().then((response)=>{
            this.listRecipient=response.data;
          })
        }
    },
    generateDocumentNumber(){      
      if(this.surat.kode_surat==""){
        this.errorCode.surat.kode_surat="Kode Dokumen Tidak Boleh Kosong";
      }
      if(this.surat.pengirim==""){
        this.errorCode.surat.pengirim="Pengirim Tidak Boleh Kosong";
      }
      if(this.surat.kode_project==""){
        this.errorCode.surat.kode_project="Kode Project Tidak Boleh Kosong";
      }
      if(this.surat.penerima==""){
        this.errorCode.surat.penerima="Penerima Tidak Boleh Kosong";
      }      
      if(this.surat.subject==""){
        this.errorCode.surat.subject="Subject Surat Tidak Boleh Kosong";
      }
      if(this.surat.kode_surat==""||this.surat.kode_project==""||this.surat.pengirim==""||this.surat.penerima==""||this.surat.subject==""){
        this.$swal.fire({
              title:"Form Tidak Boleh Kosong",              
              icon:'error'
            })
            return;
      }
      if(this.errorCode.surat.subject=="Subject Surat Tidak Boleh Lebih Dari 45 Karakter")return;
      this.surat.person_in_charge=this.$store.state.user.code_name;      
      apiServices.createDocumentNumber(this.surat).then((response)=>{        
        if(response.status==200){
            this.$swal.fire({
              title:response.data.message,
              html:`Kode Surat : <b>${response.data.letter_number}</b>`,
              icon:'success',
              willClose:()=>{
                this.refreshData();                
              }
            })            
        }
        
      }).catch((error)=>{
        if(error.response){
                this.$swal.fire({
                    title:error.response.data.error,
                    icon:'error'
                })
            }else{                
                this.$swal.fire({
                    title:"Koneksi Error",
                    icon:'error'
                })            
            }
      })            
    },
    addNewCompany(){
       this.isAddNewCompany=true;
       if(this.isAddNewRecipient)
          this.isAddNewRecipient=false;
    },
    addNewRecipient(){
       this.AddNewRecipient=true;
       if(this.isAddNewCompany)
          this.isAddNewCompany=false;
    },
    onChildCancel(){      
      this.isAddNewRecipient=false;
      this.isAddNewCompany=false;
    },
    onChildSave(key,data){            
      if(key=='kode_surat'){
        this.listKodeSurat.push(data);
        this.surat.kode_surat=data.kode_surat;
      }
      if(key=='pengirim'){
        this.listPengirim.push(data);
        this.surat.pengirim=data.kode_pengirim;
      }
      if(key=='kode_project'){
        this.listProjectCode.push(data);
        this.surat.kode_project=data.kode_project;
      }
      if(key=="penerima"){        
        let selectedData=this.listCompany.find(company=>company.kode_perusahaan == data.kode_perusahaan);
        if(selectedData){
          selectedData.penerima.push({
            nama:data.penerima.nama,
            id_penerima:data.penerima.id_penerima
          });
          this.selectedTujuan=selectedData;
          this.listRecipient=selectedData.penerima;                  
        }else{
          this.listRecipientWithoutCompany.push(data.penerima);          
        }
        this.surat.penerima=data.penerima.id_penerima;
      }if(key=="perusahaan_tujuan"){
        this.listCompany.push(data);
        this.selectedTujuan=data;        
        this.surat.penerima=data.penerima[0].id_penerima;
      }      
    },
    showForm(key){      
      Object.keys(this.listForm).forEach((data)=>{
        if(data==key){
          if(this.listForm[data]==true){
            // form dihide, button generate di munculkan (hidden=true)
            this.listForm[data]=false;
            this.isButtonSubmitHidden=false;
          }else{
            this.listForm[data]=true;
            this.isButtonSubmitHidden=true;
          }
        }else{
            this.listForm[data]=false;
        }        
      });
    }
  },
};
</script>


<style lang="scss" scoped>
  #projectCode{
    width: 100%;
  }
  .penerima{
    border:1px solid #ccc;
    border-radius:5px;
    background-color: #eeefff;
  }
  #company>select, #recipient>select{
    width: inherit;
    height: 56%;
  }
  .add-icon{
    position: absolute;
  }
  .addSection{
    cursor: pointer;
    text-align: right;    
    right: 0;
  }  
  .button-submit{    
    margin-right: -15px;
  }
  company-form{
    border: 1px solid black;
  }
  :not(:placeholder-shown)#codeProjectForms{
    text-transform: uppercase;        
  }
  .error-msg{    
    font-size: 10px;    
    text-align:center;
    width:100%;
    margin-left:-15px;
}
  select{
    color:#363333;
  }
    
</style>