<template>
  <div class="row justify-content-md-center vh-100 align-content-center" style="margin-left:0;margin-right:0">
    <div class="col-lg-6 col-md-9 col-sm-12">
        <div class="header my-5">            
            <h1>GENERATOR NOMOR DOKUMEN</h1>
        </div>
      <div class="card">
        <div class="card-body">
          <form class="p-4" @submit.prevent="login">
            <div class="form-group my-2">
              <input required type="username" class="form-control" placeholder="Username" v-model="user.username">
            </div>
            <div class="form-group my-3">                
              <font-awesome-icon :icon="icon" class="icon-password align-content-center" @click="changeIcon()"/>
              <input required :type="icon=='eye'?'password':'text'" class="form-control" placeholder="Password" v-model="user.password">
            </div>
            <small><p style="color: red" id="errorMessage" v-if="isError">Username atau Password Salah</p></small>
            <button type="submit" class="btn btn-primary mt-5">Login</button>            

          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { apiServices } from '../api/apiService';

export default {
  name:"Login",
  mounted() {    
  },
  data() {
    return {
        icon:"eye",
        isError:false,
        user:{
          username:"",
          password:""
        }
    };
  },
  methods: {
    changeIcon(){
        this.icon=this.icon=='eye'?'eye-slash':'eye';
    },
    login(){                  
      this.$isLoading(true)
      apiServices.login(this.user).then((response)=>{
        if (response.data) {
          this.$isLoading(false)
          this.$swal.fire({
              icon: 'success',
              title: 'Login Sebagai ' + this.user.username + ' Berhasil',
              focusConfirm: true,
              willClose: () => {                    
                  this.$store.commit('setData',{
                    jwt_token:response.data.message,
                    user:this.user.username,
                    role:response.data.role,
                    code_name:response.data.code_name
                  });                  
                  this.$router.push({'name':'home'});                  
              }
          })
        }                    
        this.isError=false;
      }).catch((error)=>{        
        this.isError=true;
        this.$isLoading(false)
        if(error["response"])
          this.$swal.fire({
            title:"Login Failed",
            text:`${error.response.data.error}`,
            icon:'error'
          })
        else{
          this.$swal.fire({
            title:"Login Failed",            
            icon:'error'
          })
        }
      })
    }
  },
};
</script>


<style lang="scss" scoped>

#errorMessage{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;     
}
.icon-password{
    position:absolute;
    text-align:right;
    font-size: 25px;
    margin-top:5px;
    right:0;
    margin-right: 50px;
}

h1{
    letter-spacing: 0px;
    font-weight: 800;
}
button{
    width: 100%;
}
.form-group > input{
    text-align:center;
}

</style>