<template>    
    <div class="input-group">
        <form class="form-inline"> 
            <input type="text" placeholder="Search Data" aria-label="Search" class="form-control search-form border border-dark"
                    @keyup="doFilter()" v-model="filterText" required style="background-color:#fffed0"/>                                   
                <font-awesome-icon icon="search" id="search-icon"/>
        </form>
    </div>    
</template>

<script>
    export default {
        name:"custom-filter",              
        data() {
            return {
                filterText: ''
            }
        },
        methods: {
            doFilter() {
                this.$emit('filter', this.filterText)
            }
        }
    }
</script>

<style lang="scss" scoped>    


    #search-icon {        
        transform:translate(-30px,0px);
    }    
</style>
