<template>
  <div style="position:fixed;top:0;width:100%;z-index:1000">
    <b-navbar toggleable="lg" type="dark" variant="primary">      

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/"><span class="text-white btn">Generate Nomor</span></b-nav-item>
          <b-nav-item-dropdown >
            <template #button-content>
               <b-nav-text class="text-white">Lihat Data </b-nav-text>
            </template>            
            <b-dropdown-item @click="onShowData('dokumen')">Dokumen</b-dropdown-item>
            <b-dropdown-item @click="onShowData('penerima')">Penerima</b-dropdown-item>
            <b-dropdown-item @click="onShowData('user')">Pengguna</b-dropdown-item>
            <b-dropdown-item @click="onShowData('project')">Proyek</b-dropdown-item>
            <b-dropdown-item @click="onShowData('pengirim')">Pengirim</b-dropdown-item>
            <b-dropdown-item @click="onShowData('kode_dokumen')">Kode Dokumen</b-dropdown-item>
          </b-nav-item-dropdown>          
          <!-- <b-nav-item @click="downloadDB()" v-if="$store.state.user.role<3"><span class="text-white btn">Download DB</span></b-nav-item> -->
        </b-navbar-nav>      
        <b-navbar-nav class="ml-auto mr-4">
          <b-nav-item-dropdown>
            <template #button-content>
               <b-nav-text class="text-white">Hai, {{user}} </b-nav-text>
            </template>                        
            <b-dropdown-item @click="logout()">Keluar</b-dropdown-item>            
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { apiServices } from '../api/apiService';

export default {
  name:"custom-navbar",  
  mounted() {
    this.user=this.$store.state.user.name;
  },  
  data() {
    return {
      user:""
    };
  },  
  methods: {
    logout(){
      this.$store.commit("resetState");
      this.$router.push({'name':'login'});
    },
    onShowData(param){
      if(param=='dokumen')
        this.$router.push({name:'dokumenData'});
      else if(param=='penerima')
        this.$router.push({name:'companyData'});
      else if(param=='user')
        this.$router.push({name:'userData'});
      else if(param=='project')
        this.$router.push({name:'projectData'});
      else if(param=='kode_dokumen')
        this.$router.push({name:'kodeDokumenData'});
      else
        this.$router.push({name:'pengirimData'});
    },
    editUserData(){
       this.$router.push({'name':'editUser',params:{'id':this.$store.state.user.name}});
    },
    downloadDB(){
      apiServices.getFile().then((response)=>{        

        const url = window.URL.createObjectURL(new Blob([response.data]));
         const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download','aaaaa.zip');
            document.body.appendChild(link);
            link.click();          
      });
    }
  },
};
</script>

<style lang="scss">
// karena style nya menggunakan component byatan urang lain (bootstraap) maka set style secara global
  @media screen and (max-width:975px){
    ul.dropdown-menu{
        background-color: #007bff !important;      
    }
    .dropdown-item{
        color:white !important;
        text-align: center !important;
    }
    .dropdown-item:hover{
        color:black !important;        
    }
  }
</style>