<template>
  <div id="app">
    <custom-navbar v-if="isLoggedIn"/>
    <router-view/>
  </div>
</template>

<script>
import customNavbar from './component/customNavbar.vue'

  export default {
  components: { customNavbar },  
    computed : {
      isLoggedIn : function(){ 
        return this.$store.getters.isLoggedIn
        }
    },
    mounted(){      
    },
    methods: {
      logout: function () {
        this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/login')
        })
      }
    },
  }
</script>
<style lang="scss">
*{
  margin:0;
  padding:0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;    
}

.button-submit{
  float:right;
}
th{
  background-color: #007bff !important;
  color:white;
  vertical-align: middle !important;
}
td{
  vertical-align: middle !important;
}
.addSection{
    cursor: pointer;
    text-align: right;    
    right: 0;
}
.add-icon{
    position: absolute;        
}
</style>
